{% form_theme form 'admin/form/theme_posts.html.twig' %}
{#{% import "admin/section/macro_form.html.twig" as forms %}#}
{{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {% if form.roles is defined %}
        {{ form_row(form.roles) }}
    {% endif %}
<button class="btn btn-outline-secondary hms-bg-color1 mt-4 col-12 col-lg-2" type="submit"><i class="fa fa-save"></i> {{ 'global.update'|trans() }} </button>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}