{% extends '/admin/base.html.twig' %}

{% block title %} {{ 'user.edit'|trans() }}{% endblock %}

{% block nav %}
    <section id="section_top" class="container"></section>
    {% if not is_granted('ROLE_ADMIN') %}
        {% include '/admin/customer/nav.html.twig' %}
    {% else %}
        {% include '/admin/nav.html.twig' %}
    {% endif %}
{% endblock nav %}

{% block content %}
    {% if form.roles is defined %}
        <a href="{{ path('post_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    {% endif %}
    <h1>{{ 'user.edit'|trans() }}</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'global.update'|trans()}) }}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('admin/user/_delete_form.html.twig') }}
        <a href="{{ path('user_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    {% endif %}

{% endblock %}