{% extends '/admin/base.html.twig' %}

{% block title %} {{ 'user.edit'|trans() }}{% endblock %}

{% block content %}
    {% if form.roles is defined %}
        <a class="hms-color1" href="{{ path('post_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    {% endif %}
    <h1 class="text-secondary">{{ 'user.edit'|trans() }}</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'global.update'|trans()}) }}
    {% if form.roles is defined %}
        {{ include('admin/user/_delete_form.html.twig') }}
        <a class="hms-color1" href="{{ path('user_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    {% endif %}

{% endblock %}