{% extends '/admin/base.html.twig' %}

{% block title %} {{ 'user.edit'|trans() }}{% endblock %}

{% block content %}
    <a href="{{ path('post_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    <h1>{{ 'user.edit'|trans() }}</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'global.update'|trans()}) }}
    {{ include('admin/user/_delete_form.html.twig') }}

    <a href="{{ path('user_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>

{% endblock %}