{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'menu.list'|trans() }}{% endblock %}

{% block content %}
    <h1 class="text-secondary">{{ 'user.list'|trans() }}</h1>

    <table class="table">
        <thead>
        <th>{{ 'global.active_newsletter'|trans() }}</th>
        <th>{{ 'user.firstname'|trans() }} / {{ 'user.lastname'|trans() }}</th>
        <th>{{ 'user.email'|trans() }}</th>
        <th>{{ 'user.roles'|trans() }}</th>
        <th>{{ 'global.actions'|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="align-middle">
                <td>{{ user.active_newsletter  ? 'Ok':'Ko' }}</td>
                <td> {{ user.firstname == 'newsletter' ? 'NC' }} / {{ user.lastname  == 'newsletter' ? 'NC'}}</td>
                <td>{{ user.email }}</td>
                <td>{% for role in user.roles%} {{ role }} <br/>  {% endfor %}</td>
                <td>
                    <a class="hms-color1" href="{{ path('user_edit', {'id': user.id}) }}">{{ 'action.edit'|trans()|raw }}</a>
                </td>
            </tr>
        {% else %}
            <tr class="align-middle">
                <td colspan="5">{{ 'global.no_record'|trans()|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-secondary hms-bg-color1 text-white" href="{{ path('user_new') }}">{{ 'global.new'|trans() }}</a>
{% endblock %}