<div class="container text-left">
    <!-- exemple1 -->
    <div class="row"><h2>Exemple de présentation de recette de cuisine à copier (1)</h2>
        <button id="js-copy-texte-cuisine1" class="js-copy-texte-cuisine1 btn btn-icon ml-lg-5 "
                data-target="#tocopy-texte-cuisine1">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-texte-cuisine1">
    <div class="row">
        <div class="col-7" style="color:#27ae60;font-family:Tahoma,Geneva,sans-serif">
            <p>Quand il s’agit d’assurer un repas, les recettes de plats traditionnels n’ont pas leur pareil. Tout le monde aime la blanquette de veau, tout le monde adore le bœuf bourguignon, tout le monde craque pour le pot-au-feu ! Et si les grands classiques français ne conviennent pas aux invités, pas de panique, les recettes traditionnelles comptent aussi des idées végétariennes et autres « sans ». Le vrai défi ? Choisir l’origine de la recette traditionnelle, puisqu’on vous a rassemblé les traditions les plus gourmandes de France et d’ailleurs. Choucroute ou moussaka, tartiflette ou chili, choisissez où voyager, on vous dit comment faire… Lasagnes pour les enfants, couscous pour belle-maman ou paëlla pour les amis ? À chaque occasion conviviale sa recette de plat traditionnel. Surtout quand elle a été testée et approuvée par toute une communauté de cuisiniers pour assurer la réussite du repas ! </p>
           </div>
        <div class="col-5 text-center" style="color:#2c3e50">
            <img src="{{ asset('img/cuisine_traditionnelle.jpeg') }}">
        </div>
    </div>
    </span>
    <!-- exemple2 -->
    <div class="row"><h2>Exemple de présentation de recette de cuisine à copier (2)</h2>
        <button id="js-copy-texte-cuisine2" class="js-copy-texte-cuisine2 btn btn-icon ml-lg-5 "
                data-target="#tocopy-texte-cuisine2">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-texte-cuisine2">
    <div class="row">
        <div class="col-6" style="color:#27ae60;font-family:Tahoma,Geneva,sans-serif">
            <h2 class="text-center">Cuisine du monde</h2>
            <p>Embarquement immédiat pour un tour du monde culinaire. Les passagers sont appelés à enfiler leur tablier. Que vous ayez envie d'un alloco venu tout droit d'Afrique, d'une soupe miso purement japonaise, ou de pasta à la carbonara (les vraies de vraies), et encore plein d'autres recettes du monde, vous êtes tombés au bon endroit. Le voyage culinaire que vous vous apprêtez à faire ne nécessite aucun visa. À vous les épices, les saveurs exotiques, les spécialités culinaires complètement inconnues. Place à la cuisine du monde, avec les recettes incontournables pays par pays.</p>
       </div>
        <div class="col-6 text-center">
            <img class="img-fluid" src="{{ asset('img/cuisine_du_monde.png') }}">
        </div>
    </div>
    </span>
    <!-- exemple3 -->
    <div class="row"><h2>Exemple de présentation de recette de cuisine à copier (2)</h2>
        <button id="js-copy-texte-cuisine3" class="js-copy-texte-cuisine3 btn btn-icon ml-lg-5 "
                data-target="#tocopy-texte-cuisine3">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-texte-cuisine3">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cuisine du monde</h2>
                <h3 class="section-subheading text-muted">Embarquement immédiat ...</h3>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 text-center">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid"
                         src="{{ asset('img/cuisine_monde_moussaka.jpeg') }}"
                         alt="image">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Moussaka</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            Eaux cristallines, soleil de plomb, culture antique, passer ses vacances en Grèce est un dépaysement de chaque instant. À l’heure des repas, l’étonnement et le ravissement sont au rendez-vous tant la cuisine grecque est surprenante et goûteuse. Sur ce territoire au climat méditerranéen, les légumes sont rois. Tomates, poivrons, aubergines, courgettes, olives et herbes aromatiques sont au cœur des recettes. Mariés à des viandes variées mais aussi à de multiples fromages de brebis ou de chèvre, dont la célèbre feta, ils permettent de préparer des plats goûtus qui raviront le palais de vos convives et surprendront toute la famille. Outre les fameux champignons à la grecque, les salades se déclinent à l’infini, mêlant légumes gorgés de soleil à l’huile d’olive ou au jus de citron. Plat typique par excellence, la moussaka grecque se décline en multiple recettes : au steak haché, au thon, aux pois chiche… La féta se glisse dans les salades, les cakes, les feuilletés et même les desserts. Et pour que le repas soit parfait, la pita accompagnera vos plats tandis qu’à l’apéritif vous pourrez servir du tarama, du tzatziki ou de l’houmous, des préparations délicieuses sur un toast ou en verrines.            </p>
                    </div>
                </div>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid"
                         src="{{ asset('img/cuisine_monde_fondue.jpeg') }}"
                         alt="image">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Fondue</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                        Faites le test, vous verrez : si vous dites cuisine suisse, on vous répond fondue au fromage, voire croûte au fromage. Et vin blanc, souvent. Un raccourci, d’accord, puisque la gastronomie suisse ne se résume pas à son fromage… pas que, en tout cas. Et si vous partiez pour la Suisse romande, histoire de le vérifier ? Quelques tranches de viande des grisons et un plat de haricots verts plus loin, vous acquiescerez de la tête en dévorant une tranche de vacherin fribourgeois. Vous passerez alors à la phase deux du voyage avec un tour en Suisse alémanique, son émincé de veau à la zurichoise et le plus célèbre des plats bernois, les galettes de pomme de terre aka les röstis ! Phase 3 ? Après une belle tranche de pain d’épices, il vous restera encore la Suisse italienne à explorer, mais on vous laisse le temps de digérer. Bon appétit, guten appetit ou buon appetito !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>

