<div class="container text-left">
    <!-- exemple14 -->
    <div class="row"><h2>Exemple de présentation de vidéo à copier 1 </h2>
        <button id="js-copy-video1" class="js-copy-video1 btn btn-icon ml-lg-5 " data-target="#tocopy-video1">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-video1">
        <div class="mb-3 mt-3 row">
            <div class="col-lg-6 col-xs-12 mb-3 mt-3 pl-lg-0 pr-lg-4"><iframe height="350px"  frameborder="0" src="https://www.youtube.com/embed/eyDRVo1mdx0" width="100%"></iframe></div>
            <div class="col-lg-6 col-xs-12 mb-3 mt-3 pl-lg-4 pr-lg-0"><iframe height="350px"  frameborder="0" src="https://www.youtube.com/embed/P-uvOriFxXI" width="100%"></iframe></div>
        </div>
    </span>
    <!-- exemple2 -->
    <div class="row"><h2>Exemple de présentation de vidéo à copier 2 </h2>
        <button id="js-copy-video2" class="js-copy-video2 btn btn-icon ml-lg-5 " data-target="#tocopy-video2">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-video2">
        <div class="mb-3 mt-3 row">
            <div class="col-lg-4 col-xs-12 mb-3 mt-3 pl-lg-0 pr-lg-4"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/xbhCPt6PZIU" width="100%"></iframe></div>
            <div class="col-lg-4 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-2"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/NlZ0e5FqZEU" width="100%"></iframe></div>
            <div class="col-lg-4 col-xs-12 mb-3 mt-3 pl-lg-4 pr-lg-0"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/tVKWiseNGUU" width="100%"></iframe></div>
        </div>
    </span>
    <!-- exemple3 -->
    <div class="row"><h2>Exemple de présentation de vidéo à copier 2 </h2>
        <button id="js-copy-video3" class="js-copy-video3 btn btn-icon ml-lg-5 " data-target="#tocopy-video3">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-video3">
        <div class="mb-3 mt-3 row">
            <div class="col-lg-3 col-xs-12 mb-3 mt-3 pl-lg-0 pr-lg-4"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/xbhCPt6PZIU" width="100%"></iframe></div>
            <div class="col-lg-3 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-0"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/NlZ0e5FqZEU" width="100%"></iframe></div>
            <div class="col-lg-3 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-0"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/tVKWiseNGUU" width="100%"></iframe></div>
            <div class="col-lg-3 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-2"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/NlZ0e5FqZEU" width="100%"></iframe></div>
          </div>
    </span>
    <!-- exemple4 -->
    <div class="row"><h2>Exemple de présentation de vidéo à copier 2 </h2>
        <button id="js-copy-video4" class="js-copy-video4 btn btn-icon ml-lg-5 " data-target="#tocopy-video4">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-video4">
        <div class="mb-3 mt-3 row">
            <div class="col-lg-2 col-xs-12 mb-3 mt-3 pl-lg-0 pr-lg-4"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/xbhCPt6PZIU" width="100%"></iframe></div>
            <div class="col-lg-3 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-2"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/NlZ0e5FqZEU" width="100%"></iframe></div>
            <div class="col-lg-2 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-2"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/tVKWiseNGUU" width="100%"></iframe></div>
            <div class="col-lg-3 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-2"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/NlZ0e5FqZEU" width="100%"></iframe></div>
            <div class="col-lg-2 col-xs-12 mb-3 mt-3 pl-lg-4 pr-lg-0"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/tVKWiseNGUU" width="100%"></iframe></div>
       </div>
    </span>
    <!-- exemple 5 -->
    <div class="row"><h2>Exemple de présentation de vidéo à copier 2 </h2>
        <button id="js-copy-video5" class="js-copy-video5 btn btn-icon ml-lg-5 " data-target="#tocopy-video5">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-video5">
        <div class="mb-3 mt-3 row">
            <div class="col-lg-2 col-xs-12 mb-3 mt-3 pl-lg-0 pr-lg-4"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/eyDRVo1mdx0" width="100%"></iframe></div>
            <div class="col-lg-2 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-2"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/P-uvOriFxXI" width="100%"></iframe></div>
            <div class="col-lg-2 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-2"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/xbhCPt6PZIU" width="100%"></iframe></div>
            <div class="col-lg-2 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-2"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/NlZ0e5FqZEU" width="100%"></iframe></div>
            <div class="col-lg-2 col-xs-12 mb-3 mt-3 pl-lg-2 pr-lg-0"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/tVKWiseNGUU" width="100%"></iframe></div>
            <div class="col-lg-2 col-xs-12 mb-3 mt-3 pl-lg-4 pr-lg-0"><iframe height="300px" frameborder="no" scrolling="no" src="https://www.youtube.com/embed/XgQLOSpG4EM" width="100%"></iframe></div>
        </div>
    </span>
</div>

