<div class="container text-left">
    <!-- atlas1 -->
    <div class="row"><h2>Exemple de présentation de texte à copier 3</h2>
        <button id="js-copy-atlas1" class="js-copy-atlas1 btn btn-icon ml-lg-5 " data-target="#tocopy-atlas1">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-atlas1">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Vos projets</h2>
                            </div>
            <div class="intro-text col-lg-12">
                <div class="intro-lead-in col-lg-12 text-center"><p>Lorsque vous nous confiez un de vos projets, nous suivons un cycle qui prend la forme suivante :</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Pour
                                <br>commencer,
                                <br> il y a</h4>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image rounded-circle">
                            <img class="rounded-circle img-fluid " src="/img/hermes/test/atlas/about/etudes.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">LES ÉTUDES</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous Analysons l'existant et les attendus afin de comprendre les
                                    enjeux et les contraintes de votre projet digital.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image rounded-circle">
                            <img class="rounded-circle img-fluid" src="/img/hermes/test/atlas/about/conseil.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <p>Vient ensuite le temps du </p><h4 class="subheading">CONSEIL</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ce temps permet de faciliter vos arbitrages en apportant un éclairage détaillé sur
                                    les points clés et les solutions adéquates.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="/img/hermes/test/atlas/about/realisation.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <p>Qui est suivi de la </p><h4 class="subheading">RÉALISATION</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Une fois les arbitrages réalisés et les solutions proposées, nous
                                    mettons en place la réalisation du projet avec des outils partagés de gestion de
                                    projet, ainsi que des environnements de developpement, de recette et de production.  </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="/img/hermes/test/atlas/about/livraison.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <p>Pour aboutir à </p><h4 class="subheading">LIVRAISON ET SUIVI</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Votre site est en production, il est amené à évoluer, après chaque livraison, vos attentes
                                    s'enrichissent.Nous sommes à vos côtés pour continuer à les satisfaire. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Vous avez des <br>questions?
                                <br><a href="/contact">Contactez <br> nous!</a></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </span>
    <!-- atlas2 -->
    <div class="row"><h2>Exemple de présentation de texte à copier 3</h2>
    <button id="js-copy-atlas2" class="js-copy-atlas2 btn btn-icon ml-lg-5 "
                data-target="#tocopy-atlas2">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-atlas2">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Expertise</h2>
                            </div>
        </div>
        <div class="row text-center">
                                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse" style="font-size:0.28em;">Framework</i>
                                            </span>
                    <h4 class="service-heading"><img src="/img/hermes/test/atlas/sf.jpeg" style="height:40px;"></h4>
                    <p class="text-muted">
                        Framework de référence dès son apparition en 2011, <a target="_blanks"
                                                                              href="http://symfony.com">Symfony2 <img
                                    src="/img/hermes/test/atlas/lien-externe.png" width="14px"></a> (Symfony3...et bientôt Symfony4) offre la garantie au développeur d'avoir des outils performants, rapides, sécurisés et pérennes.Il offre au product owner la garantie que son site pourra suivre toutes les mutations du web.
                    </p>
                </div>
                                                    <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse" style="font-size:0.28em;">Langage</i>
                                            </span>
                    <h4 class="service-heading"><img src="/img/hermes/test/atlas/php-logo.svg"
                                                     style="height:40px;"></h4>
                    <p class="text-muted">
                        À l'heure actuelle (avril 2017, source : <a href="https://w3techs.com/" target="_blanks">w3techs.com <img
                                    src="/img/hermes/test/atlas/lien-externe.png" width="14px"></a>) plus de 80% des sites web sont développés avec le langage PHP.L'arrivée fin 2016 de la version PHP7, qui améliore très nettement les performances des versions précédentes, devrait conforter cette présence.
                    </p>
                </div>
                                                    <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse" style="font-size:0.28em;">Tests</i>
                                            </span>
                    <h4 class="service-heading"><img src="/img/hermes/test/atlas/phpunit-logo.jpg"
                                                     style="height:40px;"></h4>
                    <p class="text-muted">
                        <a href="https://phpunit.de/" target="_blanks">PHPUnit <img
                                    src="/img/hermes/test/atlas/lien-externe.png" width="14px"></a> est un framework open source de tests unitaires dédié au langage de programmation PHP.<br>Il permet l'implémentation des tests de régression en vérifiant que les exécutions correspondent aux assertions prédéfinies.
                    </p>
                </div>
                                </div>
        <div class="row text-center">
                                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse" style="font-size:0.28em;">IC</i>
                                            </span>
                    <h4 class="service-heading"><img src="/img/hermes/test/atlas/jenkins-logo.png"
                                                     style="height:40px;"></h4>
                    <p class="text-muted">
                        Jenkins est un outil open source d'Intégration Continue.Il permet donc de réaliser notamment le déploiement des sites dans les environnements cibles (developpement, recette, preprod...),de lancer les tests de non régressions.
                    </p>
                </div>
                                                    <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse" style="font-size:0.28em;">Open</i>
                                            </span>
                    <h4 class="service-heading"><img src="/img/hermes/test/atlas/open-source-logo.png"
                                                     style="height:40px;"></h4>
                    <p class="text-muted">
                        La désignation open source, ou « code source ouvert », s'applique aux logiciels dont la licence respecte des critères précisément établis par l'Open Source Initiative, c'est-à-dire les possibilités de libre redistribution, d'accès au code source et de création de travaux dérivés. Mis à la disposition du grand public, ce code source est généralement le résultat d'une collaboration entre programmeurs.
                    </p>
                </div>
                                                    <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse" style="font-size:0.28em;">OS</i>
                                            </span>
                    <h4 class="service-heading"><img src="/img/hermes/test/atlas/ubuntu-logo.png"
                                                     style="height:40px;"></h4>
                    <p class="text-muted">
                        <a href="https://www.ubuntu.com/" target="_blanks">Ubuntu <img
                                    src="/img/hermes/test/atlas/lien-externe.png" width="14px"></a> est un système d’exploitation open source développé par la société Canonical sur la base de la distribution Linux Debian.
                    </p>
                </div>
            </div>
    </span>


    <!-- atlas3 -->
    <div class="row"><h2>Exemple de présentation de texte à copier 3</h2>
    <button id="js-copy-atlas3" class="js-copy-atlas3 btn btn-icon ml-lg-5 "
                data-target="#tocopy-atlas3">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-atlas3">
        <div class="row">
            <div id="tabs">
                <div id="tabs-1">
                    <div>
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">À Propos</h2>
                        </div>
                    </div>
                    <div>
                        <span id="ic"></span>
                        <h3 class="apropos">
                            Intégration Continue
                        </h3>
                        <p>
                            L'intégration continue est un ensemble de pratiques utilisées en génie logiciel consistant à
                            vérifier à chaque modification de code source que le résultat des modifications ne produit
                            pas de régression dans l'application développée.
                        </p>
                    </div>
                    <div>
                        <span id="qa"></span>
                        <h3 class="apropos">
                            QA
                        </h3>
                        <p>
                            On désigne par QA (assurance qualité) un moyen d'obtenir confiance dans l'assurance de la
                            qualité c'est-à-dire dans l'aptitude de la société ou de l'organisation à satisfaire le
                            niveau de qualité désiré.
                        </p>
                    </div>
                    <div>
                        <span id="securite"></span>
                        <h3 class="apropos">
                            SÉCURITÉ
                        </h3>
                        <p>
                            La sécurité Internet est une branche de la sécurité informatique spécifiquement liés à
                            l'Internet, impliquant souvent la sécurité du navigateur web, mais aussi la sécurité du
                            réseau à un niveau plus général, car il s'applique à d'autres applications et au système
                            d'exploitation dans son ensemble.
                            Son objectif est d'établir des règles et des mesures visant à contrer les attaques sur
                            Internet. L'Internet représente un canal non sécurisé pour l'échange d'informations
                            conduisant à un risque élevé d'intrusion ou de fraude, tels que l'hameçonnage. Différentes
                            méthodes sont utilisées pour protéger la transmission de données, par exemple le chiffrement
                            ou la mise en place de pare-feu ou de tunnels réseau.
                        </p>
                    </div>
                    <div>
                        <span id="performances"></span>
                        <h3 class="apropos">
                            PERFORMANCES
                        </h3>
                        <p>
                            Les performances d'un site web peuvent fortement pénaliser la fréquentation d'un site web, aussi, il st important
                            que les temps de réponses soient optimisés.
                        </p>
                    </div>
                    <div>
                        <span id="perennite"></span>
                        <h3 class="apropos">
                            PÉRENNITÉ
                        </h3>
                        <p>
                            Lors du choix d'une solution pour la réalisation d'un site web, il est important de choisir
                            des outils pérennes et évolutifs.Cela permet d'avoir des outils qui continueront de s'adapter aux évolutions à venir,
                            d'avoir une communauté de développeurs disponible pour continuer à faire vivre le site, de ne pas se retrouver avec un site
                            comportant des failles de sécurité faute de maintenance/correction de ces failles.
                        </p>
                    </div>
                                                                                                                                                                                                                                            </div>
            </div>
        </div>
    </span>

    <!-- atlas4 -->
    <div class="row"><h2>Exemple de présentation de texte carousel</h2>
    <button id="js-copy-atlas4" class="js-copy-atlas4 btn btn-icon ml-lg-5 "
                data-target="#tocopy-atlas4">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-atlas4">
        <div id="carouselExampleIndicators" class="col-lg-6 col-xs-12 carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/img/hermes/test/atlas/team/TayebChikhi.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/hermes/test/atlas/team/TayebChikhi.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/hermes/test/atlas/team/TayebChikhi.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa-minus-circle"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa-plus-circle"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </span>


    <!-- atlas5 -->
    <div class="row"><h2>Exemple de présentation de texte carousel</h2>
    <button id="js-copy-atlas5" class="js-copy-atlas5 btn btn-icon ml-lg-5 "
                data-target="#tocopy-atlas5">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-atlas5">
        <div id="carouselExampleFade" class="carousel fade carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active img-fluid-big">
              <img class="d-block w-100" src="/img/hermes/test/atlas/team/TayebChikhi.jpg" alt="First slide">
            </div>
            <div class="carousel-item img-fluid-big">
              <img class="d-block w-100" src="/img/hermes/test/atlas/team/TayebChikhi.jpg" alt="Second slide">
            </div>
            <div class="carousel-item img-fluid-big">
              <img class="d-block w-100" src="/img/hermes/test/atlas/team/TayebChikhi.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </span>

</div>

