<div class="container text-left">
    <!-- exemple1 -->
    <div class="row"><h2>Jazzevenements "Accueil - présentation" </h2>
        <button id="js-copy-jazzevenement1" class="js-copy-jazzevenement1 btn btn-icon ml-lg-5 "
                data-target="#tocopy-jazzevenement1">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-jazzevenement1">
        <div class="mt-5 row">
        <div class="col-lg-4 col-12 pl-0">
        <h2 style="color:#4b052d; font-family: 'Roboto Condensed';font-size: 42px;font-weight: 700;">PR&Eacute;SENTATION</h2>

        <h3 class="mb-4" style="color:#8f2160;font-family:'Merriweather';font-style: italic;height: 34px; font-size:22px">/OCEANO Jazz &eacute;v&eacute;nements</h3>
        </div>

        <div class="col-lg-8 col-12 vl">
        <blockquote style="color:#7c7c7c;font-family:'Roboto Condensed',serif;font-size:16px;text-align: justify;">
        <p>En duo, trio ou quartet, le groupe OCEANO propose un r&eacute;pertoire musical fait de standards de Jazz, de Bossa Nova et de chansons revisit&eacute;es parfaitement adapt&eacute; pour procurer une atmosph&egrave;re festive et chaleureuse aux &eacute;v&eacute;nements tels que cocktails et vins d&rsquo;honneurs, d&icirc;ners et soir&eacute;es d&rsquo;entreprise &hellip;</p>

        <p>Bas&eacute; sur une &eacute;quipe de musiciens professionnels, OCEANO s&rsquo;adapte &agrave; vos envies pour vous proposer le format de groupe le plus appropri&eacute; &agrave; votre &eacute;v&eacute;nement (saxophoniste, guitariste, chanteuse, pianiste, contrebassiste &hellip;)</p>
        </blockquote>
        </div>
        </div>
    </span>
    <!-- exemple2 -->
    <div class="row"><h2>Jazzevenements "Accueil - vidéos" </h2>
        <button id="js-copy-jazzevenement2" class="js-copy-jazzevenement2 btn btn-icon ml-lg-5 "
                data-target="#tocopy-jazzevenement2">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-jazzevenement2">
        <div class="mb-5 mt-5 row">
        <div class="col-lg-6 col-12 mb-5 mt-5 pl-lg-0 pr-lg-4"><iframe frameborder="0" height="350px" scrolling="no" src="https://www.youtube.com/embed/LeFFh8gh0mE?feature=oembed&amp;wmode=&quot;opaque&quot;" width="100%"></iframe></div>

        <div class="col-lg-6 col-12 mb-5 mt-5 pl-lg-4 pr-lg-0"><iframe frameborder="0" height="350px" src="https://www.youtube.com/embed/t-oRIHakHPA?feature=oembed" width="100%"></iframe></div>
        </div>

        <div class="mb-5 mt-5 row">
        <div class="col-lg-4 col-12 mb-5 mt-5 pl-lg-0 pr-lg-4"><iframe class="pl-lg-2 pr-lg-2" frameborder="no" height="300px" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/177646697&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" width="100%"></iframe></div>

        <div class="col-lg-4 col-12 mb-5 mt-5 pl-lg-2 pr-lg-2"><iframe height="300px" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/177647091&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" width="100%"></iframe></div>

        <div class="col-lg-4 col-12 mb-5 mt-5 pl-lg-4 pr-lg-0"><iframe frameborder="no" height="300px" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/177648061&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" width="100%"></iframe></div>
        </div>
    </span>

    <!-- exemple3 -->
    <div class="row"><h2>Jazzevenements "Accueil - contactez nous" </h2>
        <button id="js-copy-jazzevenement3" class="js-copy-jazzevenement3 btn btn-icon ml-lg-5 "
                data-target="#tocopy-jazzevenement3">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-jazzevenement3">
        <div class="container-fluid " style="max-width:100%; background-image: url('img/jazzevenements/visuel-transition-home.jpg');background-size: cover;">
        <div style="text-align: center;line-height: 21px;font-size:20px;color:#dddddd;">
        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <h1 style="font-size:20px;" >Contactez-nous afin que nous d&eacute;finissions ensemble</h1>

        <h1 style="font-size:20px;"> l&rsquo;animation musicale qui correspondra le mieux &agrave; votre &eacute;v&eacute;nement</h1>

        <h1 style="font-size:20px;">T&eacute;l. 06 60 96 34 66 (Ludwig Gorhan)</h1>

        <p>&nbsp;</p>

        <p>&nbsp;</p>
        </div>
        </div>
    </span>


    <!-- exemple4 -->
    <div class="row"><h2>Jazzevenements "Accueil - références"</h2>
        <button id="js-copy-jazzevenement4" class="js-copy-jazzevenement4 btn btn-icon ml-lg-5 "
                data-target="#tocopy-jazzevenement4">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-jazzevenement4" data-copy-type="{{ (app.environment == 'test') ? 'text': 'html' }}" >
                <div class="mt-5 row">
                    <div class="col-lg-12 col-12 pl-0">
                        <h2 style="color:#4b052d; font-family: 'Roboto Condensed';font-size: 42px;font-weight: 700;">R&Eacute;F&Eacute;RENCES</h2>
                        <h3 style="color:#8f2160;font-family:'Merriweather';font-style: italic;height: 34px;">/Ils nous ont fait confiance</h3>
                    </div>
                </div>
                <div class="mt-5 row">
                    <div class="col-lg-12 col-12 pl-0">
                        [ultimate_carousel]

                        <div>
                            <figure>
                                <div ><img alt="" height="100" src="https://www.jazzevenements.fr/wp-content/uploads/2014/12/bristol.png" width="200" />
                                </div>
                            </figure>
                        </div>

                        <div>
                            <figure>
                            <div ><img alt="" height="100" src="https://www.jazzevenements.fr/wp-content/uploads/2014/12/Jaguar.png" width="200" /></div>
                            </figure>
                        </div>

                        <div>
                            <figure>
                            <div ><img alt=""  height="100" src="https://www.jazzevenements.fr/wp-content/uploads/2014/12/meridien.png" width="200" /></div>
                            </figure>
                        </div>

                        <div>
                            <figure>
                            <div ><img alt=""  height="100" src="https://www.jazzevenements.fr/wp-content/uploads/2014/12/Museeorsay.png" width="200" /></div>
                            </figure>
                        </div>

                        <div>
                            <figure>
                            <div ><img alt=""  height="100" src="https://www.jazzevenements.fr/wp-content/uploads/2014/12/meurice.png" width="200" />
                            </div>
                            </figure>
                        </div>
                        [/ultimate_carousel]
                    </div>
                </div>
    </span>

    <!-- exemple Prestation historique  -->
    <div class="row"><h2>Jazzevenements "Présentation - historique"</h2>
        <button id="js-copy-jazzevenement5" class="js-copy-jazzevenement5 btn btn-icon ml-lg-5 "
                data-target="#tocopy-jazzevenement5">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-jazzevenement5" data-copy-type="{{ (app.environment == 'test') ? 'text': 'html' }}" >
        <div class="mt-5 row">
        <div class="col-lg-12 col-12 pl-0">
        <h3 style="color:#8f2160;font-family:'Merriweather';font-style: italic;font-size:22px">/Historique</h3>
        </div>

        <div class="col-lg-12 col-12 pl-0">
        <blockquote style="color:#7c7c7c;font-family:'Roboto Condensed',serif;font-size:16px;;text-align: justify;">
        <p>C&rsquo;est &agrave; la suite d&rsquo;une rencontre improvis&eacute;e, lors d&rsquo;un gala &agrave; l&rsquo;UNESCO en 2005, entre le saxophoniste Ludwig Gorhan et le guitariste Thomas Naim, que na&icirc;t le Duo OCEANO. Ces deux musiciens passionn&eacute;s de Jazz et de musique br&eacute;silienne, qui ont collabor&eacute; avec un grand nombre de groupes et artistes embl&eacute;matiques des ann&eacute;es 1990-2000, se retrouvent pour improviser librement autour de th&egrave;mes de jazz. L&rsquo;enthousiasme de l&rsquo;assistance est sans r&eacute;serve et de nombreux engagements spontan&eacute;s suivent cet &eacute;v&eacute;nement fondateur, le Duo OCEANO est n&eacute; &hellip;<br />
        Au cours des ann&eacute;es suivantes, OCEANO s&rsquo;enrichit de multiples exp&eacute;riences dans l&rsquo;&eacute;v&eacute;nementiel (environ 250 prestations depuis 2005), au cours de soir&eacute;es priv&eacute;es (mariages, cocktails, f&ecirc;tes d&rsquo;anniversaire&hellip;) et de galas d&rsquo;entreprises, &agrave; travers toute la France. OCEANO peaufine ainsi son r&eacute;pertoire musical tourn&eacute; vers l&rsquo;&eacute;v&eacute;nementiel, en m&ecirc;me temps qu&rsquo;il s&rsquo;&eacute;largit &agrave; un indispensable r&eacute;seau de musiciens professionnels disponibles pour ce type d&rsquo;animation.</p>
        </blockquote>
        </div>
        </div>
    </span>

    <!-- exemple Prestation prestation -->
    <div class="row"><h2>Jazzevenements "Prestation "</h2>
        <button id="js-copy-jazzevenement6" class="js-copy-jazzevenement6 btn btn-icon ml-lg-5 "
                data-target="#tocopy-jazzevenement6">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-jazzevenement6" data-copy-type="{{ (app.environment == 'test') ? 'text': 'html' }}" >
        <div class="mt-5 row">
            <div class="col-lg-12 col-12 pl-0">
            <h3 style="color:#8f2160;font-family:'Merriweather';font-style: italic; font-size:22px">/Prestation</h3>
            </div>

            <div class="col-lg-12 col-12 pl-0">
            <blockquote style="color:#7c7c7c;font-family:'Roboto Condensed',serif;font-size:16px;;text-align: justify;">
            <p>Bas&eacute;e sur une esth&eacute;tique Jazz &amp; Bossa, la prestation OCEANO est notre prestation est particuli&egrave;rement adapt&eacute;e aux &eacute;v&eacute;nements suivants :.</p>

            <div class="vl" style="color:grey;">
            <div>
            <h6 class="ml-4" style="color:#8f2160">Cocktail d&icirc;natoire,<br />
            Vins d&rsquo;honneur,<br />
            D&icirc;ner de Mariage,<br />
            D&icirc;ner d&rsquo;entreprise &amp; cl&ocirc;ture de s&eacute;minaire,<br />
            Soir&eacute;e d&rsquo;entreprise,<br />
            Soir&eacute;e d&rsquo;anniversaire,<br />
            v&oelig;ux du maire&hellip;</h6>
            </div>
            </div>
            </blockquote>
            </div>
        </div>
    </span>


    <!-- exemple Prestation à la carte -->
    <div class="row"><h2>Jazzevenements "A la carte"</h2>
        <button id="js-copy-jazzevenement7" class="js-copy-jazzevenement7 btn btn-icon ml-lg-5 "
                data-target="#tocopy-jazzevenement7">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-jazzevenement7" data-copy-type="{{ (app.environment == 'test') ? 'text': 'html' }}" >
        <div class="mt-5 row">
        <div class="col-lg-12 col-12 pl-0">
        <h3><span style="font-size:22px"><span style="font-family:'Merriweather';font-style: italic;"><span style="color:#8f2160">/&Agrave; la carte</span></span></span></h3>
        </div>

        <div class="col-lg-12 col-12 pl-0">
        <blockquote style="color:#7c7c7c;font-family:'Roboto Condensed',serif;font-size:16px;text-align: justify;">
        <p>Notre prestation se d&eacute;cline en diff&eacute;rents formats de groupe, au plus pr&egrave;s des sp&eacute;cificit&eacute;s de chaque projet. N&rsquo;h&eacute;sitez pas &agrave; nous contacter afin que nous d&eacute;finissions ensemble la prestation qui correspondra le mieux &agrave; votre &eacute;v&eacute;nement.</p>

        <p>Quelques exemples de formats de groupe :</p>
        </blockquote>
        </div>
        </div>

        <div class="accordion" id="accordionExample" style="color:#7c7c7c;font-family:'Roboto Condensed',serif;font-size:16px">
        <div class="card">
        <div class="card-header" id="headingOne">
        <h5 class="mb-0 "><button aria-controls="collapseOne" aria-expanded="false" class="btn btn-link text-secondary collapsed" data-target="#collapseOne" data-toggle="collapse" type="button">Formule trio contrebasse</button></h5>
        </div>

        <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="collapseOne" style="">
        <div class="card-body">La contrebasse ajoute une dimension sensuelle et sonore remarquable au duo. La beaut&eacute; de l&rsquo;instrument apportera une touche tr&egrave;s visuelle &agrave; votre &eacute;v&eacute;nement..</div>
        </div>
        </div>

        <div class="card">
        <div class="card-header" id="headingTwo">
        <h5 class="mb-0"><button aria-controls="collapseTwo" aria-expanded="true" class="btn btn-link  text-secondary" data-target="#collapseTwo" data-toggle="collapse" type="button">Formule trio avec chanteuse</button></h5>
        </div>

        <div aria-labelledby="headingTwo" class="collapse show" data-parent="#accordionExample" id="collapseTwo" style="">
        <div class="card-body">Une voix attire l&rsquo;attention. Une formule avec chanteuse est &agrave; privil&eacute;gier notamment lorsqu&rsquo;une interaction avec le public est attendue, lorsqu&rsquo;il s&rsquo;agit par exemple d&rsquo;animer l&rsquo;&eacute;v&eacute;nement de fa&ccedil;on plus pr&eacute;cise &ndash; indiquer le moment de passer au buffet, f&ecirc;ter un anniversaire, entra&icirc;ner les convives dans la danse &hellip;</div>
        </div>
        </div>

        <div class="card">
        <div class="card-header" id="headingThree">
        <h5 class="mb-0 "><button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link text-secondary collapsed" data-target="#collapseThree" data-toggle="collapse" type="button">Formule trio percussion</button></h5>
        </div>

        <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample" id="collapseThree">
        <div class="card-body">Une percussion est un atout rythmique qui favorise l&rsquo;aspect festif et dansant du format Duo sans augmenter de fa&ccedil;on g&ecirc;nante la pr&eacute;sence sonore de la formation.</div>
        </div>
        </div>
        </div>

    </span>
</div>

