{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'global.list'|trans() }}{% endblock %}

{% block nav %}
    <section id="section_top" class="container"></section>
    {% if is_granted('ROLE_CUSTOMER') %}
        {% include '/admin/customer/nav.html.twig' %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include '/admin/nav.html.twig' %}
    {% endif %}
{% endblock nav %}

{% block content %}
    <h1>
        {% if is_granted('ROLE_CUSTOMER') and not is_granted('ROLE_ADMIN') %}{{ 'order.list'|trans() }}{% endif %}
        {% if is_granted('ROLE_ADMIN') %}{{ 'order.all'|trans() }}{% endif %}
    </h1>

    <table class="table">
        <thead>
        <th>{{ 'global.active'|trans() }}</th>
        <th>{{ 'order.name'|trans() }}</th>
        <th>{{ 'order.status'|trans() }}</th>
        <th>{{ 'global.actions'|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders  %}
                <tr>
                    <td>{{ order.active ? 'global.active'|trans()|raw : 'global.inactive'|trans()|raw }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <a href="{{ path('order_edit', {'id': order.id}) }}">{{ 'action.edit'|trans()|raw }}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('order_delete', {'id': order.id, 'csrf_token_delete': csrf_token('delete' ~ order.id)  }) }}">{{ 'action.delete'|trans()|raw }}</a>
                        {% endif %}
                    </td>
                </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'global.no_record'|trans()|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
