{% extends 'front/base/' ~ directory ~'/base.html.twig' %}
{% block title %}{{ 'order.delivery'|trans() }}{% endblock %}
{% block content %}
    <div class="nav-space-checkout">
        <div class="container">
            {% for message in app.flashes('warning') %}
                <div class="mt-5 alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message|raw }}
                </div>
            {% endfor %}
            {% include 'front/base/ecommerce/breadcrumb.html.twig' with {'breadcrumb': 'order.delivery'|trans()} %}
            {% form_theme form 'admin/form/theme_posts.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form.deliveryMethod) }}
                {{ form_row(form.address) }}
                <div class="mx-auto text-center">
                    <button class="btn btn-primary mt-4 col-12 col-lg-2 mx-auto" type="submit"><i class="fa fa-address-book"></i> {{ 'form.label.valider'|trans()}} </button>
                </div>
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
{#            {% include 'front/base/ecommerce/order/table.html.twig' %}#}
        </div>
    </div>
{% endblock %}
