{% extends 'front/base/' ~ directory ~'/base.html.twig' %}
{% block title %}{{ 'order.paiement'|trans() }}{% endblock %}
{% block content %}
    <div class="nav-space-checkout">
        <div class="container">
            {% for message in app.flashes('warning') %}
                <div class="mt-5 alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message|raw }}
                </div>
            {% endfor %}
            {% include 'front/base/ecommerce/breadcrumb.html.twig' with {'breadcrumb': 'order.paiement'|trans()} %}
            {% if order is defined %}
                {% if order.delivery is not null %}
            <div class=" mt-3 pt-3 mx-auto px-0 text-justify" >
            <h5>{{ 'order.delivery_method'|trans() }} : {{ order.delivery.deliveryMethod }}</h5>
                    <h5>{{ 'order.delivery_address'|trans() }} : {{ order.delivery.address }} </h5>
                    <h6> {{ order.delivery.address.addressLine1 }} : </h6>
                    <h6> {{ order.delivery.address.addressLine2 }} : </h6>
                    <h6> {{ order.delivery.address.postalCode }} : </h6>
                    <h6> {{ order.delivery.address.countryCode }} : </h6>
            </div>
                {% endif %}
            {% endif %}
            {% include 'front/base/ecommerce/order/table.html.twig' %}
            {% include 'front/base/ecommerce/paiement/checkout.html.twig' %}
        </div>
    </div>
{% endblock %}
