{% extends 'front/base/' ~ directory ~'/base.html.twig' %}
{% block title %}{{ 'order.paiement'|trans() }}{% endblock %}
{% block content %}
    <div class="nav-space-checkout">
        <div class="container">
            {% for message in app.flashes('warning') %}
                <div class="mt-5 alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message|raw }}
                </div>
            {% endfor %}
            {% include 'front/base/ecommerce/breadcrumb.html.twig' with {'breadcrumb': 'order.paiement'|trans()} %}
            {% if order is defined %}
                {% if order.delivery is not null %}
                    <h3>{{ 'order.delivery_method'|trans() }} : {{ order.delivery.deliveryMethod }}</h3>
                    <h3>{{ 'order.delivery_address'|trans() }} : {{ order.delivery.name }}</h3>
                    <a class="btn h-btn-outline-success" href="{{ path('stripe_checkout') }}">{{ 'paiement.stripe.checkout'|trans() }}</a>
                {% endif %}
            {% endif %}
            {% include 'front/base/ecommerce/order/table.html.twig' %}
        </div>
    </div>
{% endblock %}
