{% set currency = 'EUR' %}
{% if app.user %}
    {% set currency = app.user.currency %}
{% endif %}
<div id="checkout-table" class="col-lg-12 mx-auto  mt-5 text-center">
    <div class="col-xs-12 col-sm-12 mx-auto">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-xs-6 active">{{ 'order.product'|trans() }}</th>
                <th class="col-xs-3 active text-center">{{ 'order.unit_price'|trans() }}</th>
                <th class="col-xs-3 active text-center">{{ 'order.quantity'|trans() }}</th>
                <th class="col-xs-3 active text-center">{{ 'order.price'|trans() }}</th>
            </tr>
            </thead>
            <tbody>
            {% for orderLine in products %}
                <tr class="bg-white ">
                    <th class="col-xs-4 align-middle cart-product-name text-left"> <img class="mr-3" src="{{ asset(vich_uploader_asset(orderLine.product.post, 'imageFile'))|imagine_filter('app_thumb_paysage') }}" > {{ orderLine.product.name }} </th>
                    <td class="col-xs-3 align-middle">{{ ((orderLine.product.price)/100)|format_currency(currency) }}</td>
                    <td class="col-xs-3 align-middle mx-auto">
                        {{ orderLine.quantity }}
                    </td>
                    <td id="price-{{ orderLine.product.id }}" class="col-xs-3 align-middle">{{ ((orderLine.price)/100)|format_currency(currency) }}</td>
                 </tr>
            {% endfor %}
            {% if order.delivery is defined %}
                {% if order is defined %}
                    {% if order.delivery.price is defined %}
                        <tr class="font-weight-bold ">
                            <th class="col-xs-6 info text-left ">{{ 'order.delivery_price'|trans() }}</th>
                            <th class="col-xs-6 info">&nbsp;</th>
                            <th class="col-xs-6 info">&nbsp;</th>
                            <td class="col-xs-3 info ">{{ ((order.delivery.price)/100)|format_currency(currency) }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endif %}
            </tbody>
            <tfoot>
            <tr class="font-weight-bold">
                <th class="col-xs-6 info text-left ">Total</th>
                <th class="col-xs-6 info">&nbsp;</th>
                <th class="col-xs-6 info">&nbsp;</th>
                <td class="col-xs-3 info checkout-total">{{ ((total)/100)|format_currency(currency) }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

