<!-- Clients -->
<section id="{{ section.name ~ section.template.name }}" class="py-5" style="background: url({{vich_uploader_asset(menu, 'imageFile') }}) no-repeat center center ;background-size: cover;">
    <div class="container" style="max-width: {{ container_width }}">
        <div class="row">
            {% for  post in  section.posts %}
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="{{ asset(vich_uploader_asset(post, 'imageFile')) }}" alt="{{ post.name }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
