{% form_theme form 'admin/form/theme_posts.html.twig' %}
<h4 class="col-lg-12 mx-auto mt-4 py-2 rounded h-bg-success text-center text-white"> Template Libre </h4>
{{ form_start(form) }}
    {% if form.position is defined %}
        {{ form_row(form.position) }}
    {% endif %}
    {{ form_row(form.name) }}
    {% if form.content is defined %}
        {{ form_row(form.content) }}
        <div id="editor">
        </div>
    {% endif %}
    {% if form.imageFile is defined %}
        {{ form_row(form.imageFile) }}
    {% endif %}
    {% if vich_uploader_asset(form.vars.data, 'imageFile') is not null %}
        <tr>
            <td><img  src="{{ asset(vich_uploader_asset(form.vars.data, 'imageFile')) | imagine_filter('app_thumb')  }}" /></td>
        </tr>
    {% endif  %}
    {% if form.url is defined %}
        {{ form_row(form.url) }}
    {% endif %}
    {{ form_row(form.save) }}
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
