{% extends '/admin/base.html.twig' %}

{% form_theme form 'admin/form/theme_posts.html.twig' %}

{% block title %}{{ 'post.move'|trans() }}{% endblock %}

{% block content %}
    {{ parent() }}
    <a class="btn h-btn-outline-success"  href="{{ path('post_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    {{ form_start(form) }}
    {{ form_row(form.section) }}
    {{ form_row(form.move) }}
    {{ form_row(form.copy) }}

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
    {{ include('admin/post/_delete_form.html.twig') }}

    <a class="btn h-btn-outline-success"  href="{{ path('post_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>

{% endblock %}


