{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'global.new_post'|trans() }}{% endblock %}

{% block content %}
    {{ parent() }}
    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('post_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>

    {{ include('admin/post/_form_liste.html.twig') }}

    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('post_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
{% endblock %}
