{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'block.list'|trans() }}{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr class="align-middle">
                <th>{{ 'global.active'|trans() }}</th>
                <th>{{ 'global.name'|trans() }}</th>
                <th>{{ 'blockpost.list'|trans() }}</th>
                <th>{{ 'global.actions'|trans() }}</th>
            </tr>
        </thead>
        <tbody>
        {% for block in blocks|sort((a, b) => a.name <=> b.name) %}
            <tr class="align-middle {{ block.id }}">
                <td>
                    <div class="form-check form-switch form-switch-sm my-0">
                        <input type="checkbox" class="block-active form-check-input" id="{{ block.id }}"  {{ block.isActive ? 'checked': '' }} >
                        <label class="custom-control-label" for="{{ block.id }}"></label>
                    </div>
                </td>
                <td>{{ block.name }}</td>
                <td>
                    {%  for blockpost in block.blockposts|sort((a, b) => a.position <=> b.position) %}
                        <li class="list-unstyled">
                            <a class=" hms-color1 h5" href="{{ path('blockpost_edit', {'id': blockpost.id}) }}">{{ blockpost.name }}</a>
                        </li>
                    {%  endfor %}
                </td>
                <td>
                    <a class="hms-color1" href="{{ path('block_edit', {'block': block.id  }) }}">{{ 'action.edit'|trans()|raw }}</a>
                  </td>
            </tr>
        {% else %}
            <tr class="align-middle">
                <td colspan="7">{{ 'global.no_record'|trans()|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-outline-secondary hms-bg-color1 text-white" href="{{ path('block_new') }}">{{ 'global.new_content'|trans() }}</a>
{% endblock %}
