{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'sheet.list'|trans() }}{% endblock %}

{% block content %}

    {% set global = {
        'active':'global.active'|trans(),
        'inactive':'global.inactive'|trans(),
        'locale':'global.locale'|trans(),
        'position':'global.position'|trans(),
        'name':'global.name'|trans(),
        'actions':'global.actions'|trans(),
        }
    %}

    {% set norecord = {
        'norecord':'global.no_record'|trans()|raw ,
        }
    %}

    <h1 class="text-secondary">{{ 'sheet.list'|trans() }}</h1>
    <input id="vue_items_sheet" type="hidden" value="{{ sheets|json_encode }}" data-global="{{ global|json_encode}}" data-norecord="{{ norecord|json_encode}}"  />
    <!-- Composant Vue ListSheet -->
    <table class="table" id="vue_admin_list_sheet" ></table>

    <a type="button" class="btn btn-outline-secondary hms-bg-color1 text-white" id="sheet-add" href="{{ path('sheet_new') }}">{{ 'global.new'|trans() }}</a>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('hermes_admin_list_sheet_vue') }}
{% endblock javascript %}
