<!DOCTYPE html>
<html lang="fr">

{% block head %}
    {% include 'front/base/hermes/head.html.twig' %}
{% endblock head %}

{% apply inline_css(source( '@css/app.css')) %}
{#<body style=" background: url('{{ background_image ?? '' }}'); {{ background_image_style ?? '' }} background-color: {{ bgcolor ?? 'white' }}">#}
<body style="background-color: #f2f3f4">

    <div class="content container col-lg-{{ container_width|col_lg()}} text-center center" style="background-color: #ffffff ;">
        {% block body %}
            {% block nav %}
        <div class="col-lg-{{ container_width|col_lg()}} text-center center" style="background-color: #ffffff ;" >
                <a class="navbar-brand js-scroll-trigger center" href="{{ path('sheet') }}">
                    {% if logo.filename is defined %}
                        {% if logo.filename is not null %}
                        {% if 'logo.png' == logo.filename  %}
                            <a href="{{ url('sheet') }}">
{#                                <img src="{{ email.image('@images/Config/logo.png') }}" class="logo" alt="SpaceBar Logo">#}
                                {% if logo.filename is defined %}
                                    {% if logo.filename is not null %}
                                        <img src="{{ absolute_url(asset(vich_uploader_asset(logo, 'imageFile')))}}"  alt="{{ logo.filename}}">
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% endif %}
                        {% else %}
                            {{ logo ?? "Accueil" }}
                        {% endif %}
                    {% else %}
                        {{ logo ?? "Accueil" }}
                    {% endif %}
                </a>
            </div>

            {% endblock nav %}

            {% block content %}
            {% endblock content %}

        {% endblock body %}

    </div>


    {% block footer %}
        {% include 'front/base/footer.html.twig' %}
    {% endblock footer %}

    {% block javascript %}
    {% endblock javascript %}

</body>
{% endapply %}
</html>
