{% apply inky_to_html|inline_css(source( '@inline/foundation-emails.css'),source( '@inline/emails.css')) %}
<!doctype html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Email Contact">
    <meta name="author" content="CMS Hermes">
</head>


{#    <body class="iframe">#}
    <body>
        {% block body %}
            {% block content %}
            {% endblock content %}
        {% endblock body %}

    {% block footer %}
    <!-- Site footer -->
    <footer class="footer pt-3 col-lg-{{ footer_container_width|col_lg() }} col-12 mx-auto px-0"
            style="background-color: {{ footer_bgcolor ?? 'transparent' }}; color: {{ footer_color ?? '#ffffff' }}">
        <div class="row">
            {% if footer_about is defined %}
            <div class="col-sm-12 col-md-12">
                <p class="text-justify h5">{{ footer_about ?? '' }}</p>
            </div>
            {% endif %}
        </div>
        <hr/>
        
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-12">
                    <p  >{{ 'global.created_by'|trans()|raw }} <a onmouseover="this.style.color='{{ footer_link_hover_color ?? '#ffffff' }}'" onmouseout="this.style.color='{{ footer_link_color ?? '#ffffff' }}'" style="color: {{ footer_link_color ?? '#ffffff' }}" href="http://hermes-cms.org" target="_blanks">HERMES</a> |  <img src="/img/copyleft.png" class="my-auto" width="20px" >{{ 'global.copyleft'|trans()|raw }} <a onmouseover="this.style.color='{{ footer_link_hover_color ?? '#ffffff' }}'" onmouseout="this.style.color='{{ footer_link_color ?? '#ffffff' }}'" style="color: {{ footer_link_color ?? '#ffffff' }}" href="http://hermes-cms.org" target="_blanks">http://hermes-cms.org</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}
    </body>
</html>
{% endapply %}
