<button id="modal-exemple" class="btn btn-info">
<a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
    {#    <div class="portfolio-hover">#}
    {#        <div class="portfolio-hover-content">#}
    <h6>{{ 'global.exemple_libre'|trans()|raw }}</h6>
    {#        </div>#}
    {#    </div>#}
</a>
</button>
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div id="accordion">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a id="modal-exemple-image" class="btn btn-info" data-toggle="collapse" href="#collapseImage" role="button" aria-expanded="false" aria-controls="collapseImage">
                                    Exemples de présentation Image à copier
                                </a>
                            </h5>
                        </div>
                        <div id="collapseImage" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">{% include '/admin/exemple/test/image.html.twig' %}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a id="modal-exemple-gallerie" class="btn btn-info" data-toggle="collapse" href="#collapseGallerie" role="button" aria-expanded="false" aria-controls="collapseGallerie">
                                    Exemples de présentation gallerie à copier
                                </a>
                            </h5>
                        </div>
                        <div id="collapseGallerie" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">{% include '/admin/exemple/test/gallerie.html.twig' %}
                            </div>
                        </div>
                    </div>



                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a id="modal-exemple-atlas" class="btn btn-info" data-toggle="collapse" href="#collapseAtlas" role="button" aria-expanded="false" aria-controls="collapseAtlas">
                                    Exemples de présentation Atlas à copier
                                </a>
                            </h5>
                        </div>
                        <div id="collapseAtlas" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">{% include '/admin/exemple/test/atlas.html.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a id="modal-exemple-jazzevenement" class="btn btn-info" data-toggle="collapse" href="#collapseJazzevenement" role="button" aria-expanded="false" aria-controls="collapseJazzevenement">
                                    Exemples de présentation Jazzevenement à copier
                                </a>
                            </h5>
                        </div>
                        <div id="collapseJazzevenement" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">{% include '/admin/exemple/test/jazzevenements.html.twig' %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <a id="modal-exemple-texte" class="btn btn-info" data-toggle="collapse" href="#collapseTexte" role="button" aria-expanded="false" aria-controls="collapseTexte">
                                Exemples de présentation de texte à copier
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTexte" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">{% include '/admin/exemple/base/texte.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <a id="modal-exemple-texte-cuisine" class="btn btn-info" data-toggle="collapse" href="#collapseTexteCuisine" role="button" aria-expanded="false" aria-controls="collapseTexteCuisine">
                                Exemples de présentation de recette de cuisine à copier
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTexteCuisine" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">{% include '/admin/exemple/base/texte_cuisine.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <a id="modal-exemple-video" class="btn btn-info" data-toggle="collapse" href="#collapseVideo" role="button" aria-expanded="true" aria-controls="collapseVideo">
                                Exemples de présentation de vidéo à copier
                            </a>
                        </h5>
                    </div>
                    <div id="collapseVideo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">{% include '/admin/exemple/base/video.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center">
                <button class="btn btn-info" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    {{ 'general.close'|trans() }}
                </button>
                <!-- Button trigger modal -->
                <input id="copyinfo" type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#copyModal" />
                <input id="copyinfohtml" type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#copyModalHtml" />
{#                        {{ 'global.copy_done'|trans()|raw }}#}
{#                </input>#}
            </div>
        </div>

    </div>
</div>

<!-- Modal copy tewt -->
<div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="copyModalLabel">{{ 'global.copy_done'|trans()|raw }}</h5>
                <button id="close" type="button" class="close" data-dismiss="modal" aria-label="{{ 'general.close'|trans() }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-success">{{ 'global.copy_texte'|trans()|raw }}</p>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'general.close'|trans() }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal copy html -->
<div class="modal fade" id="copyModalHtml" tabindex="-1" role="dialog" aria-labelledby="copyModalHtmlLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="copyModalHtmlLabel">{{ 'global.copy_done'|trans()|raw }}</h5>
                <button id="close" type="button" class="close" data-dismiss="modal" aria-label="{{ 'general.close'|trans() }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-success">{{ 'global.copy_html'|trans()|raw }}</p>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'general.close'|trans() }}</button>
            </div>
        </div>
    </div>
</div>