
<div class="container-fluid py-2">
    <div class="row g-2">
        <div class="col-md-4">
            <div class="p-3 "><img class="img-fluid rounded-pill shadow-lg" src="{{ asset('/img/hermes/images/1620x1080/img1.jpg') }}" /></div>
        </div>

        <div class="col-md-4">
            <div class="p-3 "><img class="img-fluid rounded-pill shadow-lg" src="{{ asset('/img/hermes/images/1620x1080/img2.jpg') }}" /></div>
        </div>

        <div class="col-md-4">
            <div class="p-3 "><img class="img-fluid rounded-pill shadow-lg" src="{{ asset('/img/hermes/images/1620x1080/img3.jpg') }}" /></div>
        </div>

        <div class="col-md-4">
            <div class="p-3 "><img class="img-fluid rounded-pill shadow-lg" src="{{ asset('/img/hermes/images/1620x1080/img4.jpg') }}" /></div>
        </div>

        <div class="col-md-4">
            <div class="p-3 "><img class="img-fluid rounded-pill shadow-lg" src="{{ asset('/img/hermes/images/1620x1080/img5.jpg') }}" /></div>
        </div>

        <div class="col-md-4">
            <div class="p-3 "><img class="img-fluid rounded-pill shadow-lg" src="{{ asset('/img/hermes/images/1620x1080/img6.jpg') }}" /></div>
        </div>

        <div class="col-md-4">
            <div class="p-3 "><img class="img-fluid rounded-pill shadow-lg" src="{{ asset('/img/hermes/images/1620x1080/img7.jpg') }}" /></div>
        </div>

        <div class="col-md-4">
            <div class="p-3 "><img class="img-fluid rounded-pill shadow-lg" src="{{ asset('/img/hermes/images/1620x1080/img8.jpg') }}" /></div>
        </div>

        <div class="col-md-4">
            <div class="p-3 "><img class="img-fluid rounded-pill shadow-lg" src="{{ asset('/img/hermes/images/1620x1080/img9.jpg') }}" /></div>
        </div>
    </div>
</div>
