{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'section.list'|trans() }}{% endblock %}

{% block content %}

    {% set global = {
        'active':'global.active'|trans(),
        'inactive':'global.inactive'|trans(),
        'locale':'global.locale'|trans(),
        'sheet':'sheet.name'|trans(),
        'menu':'menu.name'|trans(),
        'template':'template.name'|trans(),
        'post':'post.list'|trans(),
        'position':'global.position'|trans(),
        'actions':'global.actions'|trans(),
        'config':'action.config'|trans()|raw ,
        }
    %}

    {% set norecord = {
        'norecord':'global.no_record'|trans()|raw ,
        }
    %}

    {% set buttons = {
        'addpost': path('menu_section_post_new_sheet', {'sheet':'nouvelle'}) ,
        'newcontent': 'global.new_content'|trans(),
        }
    %}

    <div class="row mb-2">
    <h1 class="text-secondary">{{ 'section.list'|trans() }}</h1>

    <input id="vue_items_section" type="hidden" value="{{ sections|json_encode }}" data-filtre="{{ menus|json_encode }}"  data-global="{{ global|json_encode}}" data-norecord="{{ norecord|json_encode}}" data-buttons="{{ buttons|json_encode}}"  />
    <!-- Composant Vue ListSheet -->
    <div id="vue_admin_list_section" ></div>

  {% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('hermes_admin_list_section_vue') }}
{% endblock javascript %}
