
    <div class="row mb-2">
    <h1 class="text-secondary">{{ 'section.list'|trans() }}</h1>
        <select class="my-4 py-2 h-bg-success text-white" id="select_page" name="section">
            <option value="{{ 'section.all'|trans() }}" >{{ 'section.all_text'|trans() }}</option>
        {% for libre in libres|sort((a, b) => a.name <=> b.name) %}
            <option value="{{ libre.id }}">{{ libre.type }} - {{ libre.name }}</option>
        {% endfor %}
        </select>
    </div>


    {% for key, libre in libres|sort((a, b) => a.name <=> b.name) %}
        <div class="container-fluid col-lg-10 mx-auto px-0">
            <p><button class="copy  btn btn btn-outline-info mx-3 mx-lg-0 mt-3 mb-1" data-bs-placement="top" data-bs-toggle="tooltip" data-copy="template{{key}}" data-copytype="html" id="copytemplate{{key}}" title="copier"><svg class="bi bi-clipboard" fill="currentColor" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path> <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path> </svg></button></p>
            <div id="tocopytemplate{{key}}">
                {{ libre.content|raw }}
            </div>
        </div>
    {% endfor %}

    {# <table class="table">
        <thead>
            <tr>
                <th>{{ 'global.active'|trans() }}</th>
                <th>{{ 'global.locale'|trans() }}</th>
                <th>{{ 'sheet.name'|trans() }}</th>
                <th>{{ 'menu.name'|trans() }}</th>
                <th>{{ 'template.name'|trans() }}</th>
                <th>{{ 'post.list'|trans() }}</th>
                <th>{{ 'global.position'|trans() }}</th>
                <th>{{ 'global.actions'|trans() }}</th>
            </tr>
        </thead>
        <tbody id="tbody">
        {% for section in sections|sort((a, b) => a.position <=> b.position)|sort((a, b) => a.menu.sheet.name <=> b.menu.sheet.name) %}
            <tr class="align-middle {{ section.menu.id }}">
                <td>
                    <div class="form-check form-switch form-switch-sm my-0">
                        <input type="checkbox" class="section-active form-check-input" id="{{ section.id }}"  {{ section.isActive ? 'checked': '' }} >
                        <label class="custom-control-label" for="{{ section.id }}"></label>
                    </div>
                </td>
                <td>{{ section.menu.sheet.locale }}</td>
                <td>{{ section.menu.sheet.name }}</td>
                <td>{{ section.menu.name }}</td>
                <td>{{ section.template.name }}</td>
                <td>
                    {%  for post in section.posts|sort((a, b) => a.position <=> b.position) %}
                        <li class="list-unstyled">
                            <a class=" hms-color1 h5" href="{{ path('post_edit', {'id': post.id,'post': post.name,'menu': post.section.menu.slug}) }}">{{ post.name }}</a>
                        </li>
                    {%  endfor %}
                </td>
                <td>{{ section.position }}</td>
                <td>
                    <a class="hms-color1" href="{{ path('section_edit', {'section': section.id, 'config': 1 }) }}">{{ 'action.config'|trans()|raw }}</a>
                    <a class="hms-color1" href="{{ path('section_edit', {'section': section.id , 'config': 0 }) }}">{{ 'action.edit'|trans()|raw }}</a>
                    <a class="hms-color1" href="{{ path('section_post_new_menu', {'menu': section.menu.slug , 'section': section.id }) }}">  {{ 'action.add_diff'|trans()|raw }}</a>
                    <a class="hms-color1" href="{{ path('section_copy', {'section': section.id, }) }}">{{ 'action.copy-1'|trans()|raw }}</a>
                </td>
            </tr>
        {% else %}
            <tr class="align-middle">
                <td colspan="7">{{ 'global.no_record'|trans()|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 #}
