
    <div class="row my-4">
    <hr class="text-info" />
    <hr class="text-info" />
    <h1 class="text-secondary text-center">{{ 'global.new_post_libre_hms'|trans() }}</h1>
        <select class="my-4 py-2 h-bg-success text-white" id="select_page" name="section">
            <option value="{{ 'template.list'|trans() }}" > -- {{ 'template.list'|trans() }} --</option>
        {% for libre in libres %}
            <option value="{{ libre.id }}">{{ libre.type }} - {{ libre.name }}</option>
        {% endfor %}
        </select>
    </div>


    {% for key, libre in libres %}
        <div class="container-fluid col-lg-10 mx-auto px-0">
            <p><button class="copy  btn btn btn-outline-info mx-3 mx-lg-0 mt-3 mb-1" data-bs-placement="top" data-bs-toggle="tooltip" data-copy="template{{key}}" data-copytype="html" id="copytemplate{{key}}" title="copier"><svg class="bi bi-clipboard" fill="currentColor" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path> <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path> </svg></button></p>
            <div id="tocopytemplate{{key}}">
                {{ libre.content|raw }}
            </div>
        </div>
    {% endfor %}

