{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'global.new_post'|trans() }}{% endblock %}

{% block content %}
    {{ parent() }}
    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('menu_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>

    {{ include('admin/section/_form.html.twig') }}

    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('section_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
        
    {{ include('admin/section/libres.html.twig') }}

    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('section_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
{% endblock %}