{% extends '/admin/base.html.twig' %}

{% block title %}Section{% endblock %}

{% block content %}
    <a class="hms-color1" href="{{ path('post_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    <h1 class="text-secondary">Section</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'global.active'|trans() }}</th>
                <td>{{ section.active ? 'global.active'|trans()|raw : 'global.inactive'|trans()|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'global.position'|trans() }}</th>
                <td>{{ section.position }}</td>
            </tr>
            <tr>
                <th>{{ 'global.name'|trans() }}</th>
                <td>{{ section.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="hms-color1" href="{{ path('section_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>

{#    <a class="hms-color1" href="{{ path('section_edit', {'section': section.name}) }}">edit</a>#}
    <a class="hms-color1" href="{{ path('section_edit', {'section': section.id}) }}">edit</a>

    {{ include('admin/section/_delete_form.html.twig') }}
{% endblock %}
