<div class="mt-lg-3">
    <h2 class="mt-3 text-dark text-center"> {{ 'info.admin_templates_1'|trans()|raw }}</h2>
{% for type, liste_section in sections %}
    {% for key, section in liste_section %}
        {% set keytemplate = type ~ '-' ~ key  %}
        {% set suivant = key + 2 %}
        {% set precedent = key ?? 0 %}
        <div id="{{ type ~ '-' ~  section.code }}" class="mt-5 pt-5 pb-1" ></div>
        <h4 class="mt-5 mt-sm-4 mb-0 py-3 text-center h-bg-success text-white fst-italic">
            {% if key > 0 %}
                <a class="mt-3 text-center text-white" href="{{ '#' ~ type ~ '-hms-' ~ precedent }}"><i class="fa fa-angle-double-up"></i></a>
            {% endif %}
            Template "{{ section.summary }}"
            {% if not(loop.last) %}
                <a class="mt-3 text-center text-white" href="{{ '#' ~ type ~ '-hms-' ~ suivant }}"><i class="fa fa-angle-double-down"></i></a>
            {% endif %}
            <button id="copy{{ keytemplate }}" class="copy btn btn-icon ml-lg-5 italic text-white" data-copy="{{ keytemplate }}" data-copytype="html">{{ 'action.copy-light-1'|trans()|raw }}</button>
        </h4>
        <span id="tocopy{{ keytemplate }}">
            {% set dnone = '' %}
            {% if type == 'video' %}
                {% set dnone = 'd-none' %}
            {% endif %}
            {{  include (constant('App\\Service\\TemplateLibreHermes::TEMPLATE_LIBRE_HERMES_DIR') ~ '/' ~ type ~ '/' ~ section.code ~ '/index.html.twig' , { dnone: dnone})  }}
        </span>
    {% endfor %}
{% endfor %}
</div>