<!-- Breadcrumb -->
<section class="hero-wrap hero-wrap-2 mb-lg-3 pl-2 pt-0 pb-0">
    <div class="overlay"></div>
    <div class="row no-gutters slider-text">
        <div class="col-lg-12 text-center">
            <h3 class="breadcrumbs " >
                {% if( app.request.attributes.get('_route') in [ 'menu_section_post_new_sheet' ]) %}
                    <span class=" h-text-success mr-2 h3 ">
                        Je crée une nouvelle page.
                    </span>
                {% endif %}
                 {% if( app.request.attributes.get('_route') in ['menu_edit' ]) %}
                    <span class=" h-text-success mr-2 h3 ">
                        Je met à jour mon sous-menu
                        "{{ section.menu.name ?? menu.name ?? 'global.new_menu'|trans()|raw }}"
                    </span>
                {% endif %}
                 {% if( app.request.attributes.get('_route') in ['section_post_new_menu' ]) %}
                    <span class=" h-text-success mr-2 h3 ">
                        J'ajoute un contenu à mon sous-menu "{{ section.menu.name ?? menu.name ?? 'global.new_menu'|trans()|raw }}"
                    </span>
                {% endif %}
                 {% if( app.request.attributes.get('_route') in ['section_edit' ]) %}
                    <span class=" h-text-success mr-2 h3 ">
                        Je met à jour l'affichage de mon sous-menu "{{ section.menu.name ?? menu.name ?? 'global.new_menu'|trans()|raw }}".
                    </span><br/>
                    <span class=" h-text-success mr-2 h3 ">
                        Je met à jour ses contenus (Nom et Image).
                    </span>
                {% endif %}
                 {% if( app.request.attributes.get('_route') in ['post_edit' ]) %}
                    <span class=" h-text-success mr-2 h3 ">
                        Je met à jour mon contenu "{{ post.name ?? 'global.new_content'|trans()|raw }}" du sous-menu "{{ post.section.menu.name ?? menu.name ?? 'global.new_menu'|trans()|raw }}".
                    </span>
                {% endif %}
            </h3>
        </div>
    </div>
</section>

