{% extends '/admin/base.html.twig' %}

{% block content %}
    <section class="mt-4 mt-md-1">
        <p class="text-secondary lead mt-md-3">
            {{ 'global.hello'|trans()|raw }}  {{ app.user.firstname ?? '' ~ ' ' ~  app.user.lastname ?? '' }},
        </p>
        <p class="text-secondary lead">
            {{ 'info.admin_presentation1'|trans()|raw }}
        </p>
        <ul class="text-secondary lead">
            <li class="" style="list-style-type: circle !important ; ">{{ 'info.admin_sous_presentation11'|trans()|raw }}</li>
            <li style="list-style-type: circle !important; ">{{ 'info.admin_sous_presentation12'|trans()|raw }}</li>
            <li style="list-style-type: circle !important; ">{{ 'info.admin_sous_presentation13'|trans()|raw }}</li>
        </ul>
        <div class="mt-lg-2">
            <p class="mt-lg-4 text-secondary lead "><i class="fa fa-info-circle"></i> {{  'info.begin1'|trans()|raw }} </p>
            <p class="mt-lg-4 text-secondary lead"><i class="fa fa-info-circle"></i> {{  'info.begin2'|trans()|raw }} </p>
            <p class="mt-lg-4 text-secondary lead">{{ 'info.begin3'|trans()|raw }} </p>
            <p class="mt-lg-4 text-secondary lead">{{ 'info.begin4'|trans()|raw }} </p>
        </h5>

            {% set mytemplates = {
                '0': {
                    'mysrc': '/img/hermes/template/ficheVetement.png',
                    'myhref': path('add_page', {'libre': 'ficheVetement'}),
                    'mytitle': 'fiche Vêtement',
                },
                '1': {
                    'mysrc': '/img/hermes/template/ficheYom.png',
                    'myhref': path('add_page', {'libre': 'ficheYom'}),
                    'mytitle': 'fiche YOM'
                },
                '2': {
                    'mysrc': '/img/hermes/template/ficheVideo.png',
                    'myhref': path('add_page', {'libre': 'ficheVideo'}),
                    'mytitle': 'fiche Video'
                },
                '3': {
                    'mysrc': '/img/hermes/template/imageYom.png',
                    'myhref': path('add_page', {'libre': 'imageYom'}),
                    'mytitle': 'Image YOM'
                },
                '4': {
                    'mysrc': '/img/hermes/template/imageModal.png',
                    'myhref': path('add_page', {'libre': 'imageModal'}),
                    'mytitle': 'Image MODAL'
                },
                '5': {
                    'mysrc': '/img/hermes/template/imageColler.png',
                    'myhref': path('add_page', {'libre': 'imageColler'}),
                    'mytitle': 'Images accolées'
                },
                '6': {
                    'mysrc': '/img/hermes/template/chatNazca.png',
                    'myhref': path('add_page', {'libre': 'Le chat de Nazca'}),
                    'mytitle': 'Chat de Nazca'
                },
                '7': {
                    'mysrc': '/img/hermes/template/ruee-vers-l-or.png',
                    'myhref': path('add_page', {'libre': 'la-ruee-vers-l-or'}),
                    'mytitle': 'La ruée vers l\'or'
                },
                '8': {
                    'mysrc': '/img/hermes/template/carteRestaurant.png',
                    'myhref': path('add_page', {'libre': 'carteRestaurant'}),
                    'mytitle': 'La Carte'
                },
                '9': {
                    'mysrc': '/img/hermes/template/presentationDuo.png',
                    'myhref': path('add_page', {'libre': 'presentationDuo'}),
                    'mytitle': 'Fiche de présentation'
                },
            }
            %}

            <div class="row pt-2 pt-md-5 pb-md-4 pb-1">
                {% for key , value  in mytemplates %}
                    <div class="col-md-6 px-1 px-md-5 "><img class="img-fluid pb-1 w-100" src="{{  value.mysrc }}" />
                        <p><a class="text-decoration-none link-dark link-info:hover" href="{{  value.myhref }}" >{{  value.mytitle ?? ' NC' }}</a></p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>

{% endblock content %}
