{% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-dark bg-secondary fixed-top py-0">
        <div class="container-fluid">
            <a class="navbar-brand hms-color1 text-decoration-none lead" href="{{ path('admin_index') }}"><img class="h-25" src="{{ asset('img/hermes.png')? asset('img/hermes.png') }}" alt="admin Hermes"> </a>           
            {% for locale in locales %}
                {% if locale == app.request.locale %}
                    {% set flag = 'app_fixed_flag_selected' %}
                {% else %}
                    {% set flag = 'app_fixed_flag' %}
                {% endif %}
                <a class="me-2 px-1 text-decoration-none" href="{{ path('change_locale', {'locale': locale}) }}"><img src="{{ asset('img/flag/'~ locale ~'.png')|imagine_filter(flag) }}"> </a>
            {% endfor %}
            <div id="chevron_down_div">
                <h3 class="section-subheading text--end">
                    <a id="chevron_down" class="js-scroll-trigger hms-color1" href="#section_bottom">
                        <i class="fa fa-chevron-circle-down"></i>
                    </a>
                </h3>
            </div>
            <div id="chevron_up_div" style="display:none">
                <h3 class="section-subheading text-muted">
                    <a id="chevron_up" class="js-scroll-trigger hms-color1" href="#section_top">
                        <i class="fa fa-chevron-circle-up"></i></a>
                </h3>
            </div>
            <button class="navbar-toggler my-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="align-middle">{{ 'global.dashboard'|trans()|raw }}</span> <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{{ 'global.dashboard'|trans()|raw }}</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item mt-4 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'global.menus_and_posts'|trans()|raw }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <p><a class="link-light text-decoration-none mx-3 " href="{{ path('sheet_index') }}"> {{ 'sheet.affiche_list'|trans()|raw }}</a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('menu_index') }}"> {{ 'menu.affiche_list'|trans()|raw }}</a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none  mx-3" href="{{ path('section_index') }}"> {{ 'section.affiche_list'|trans()|raw }}</a></p>
                                {% if affiche_admin_post is defined and affiche_admin_post == true %}
                                    <hr class="dropdown-divider">
                                    <p><a class="link-light text-decoration-none mx-3" href="{{ path('post_index') }}"> {{ 'post.affiche_list'|trans()|raw }}</a></p> 
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item mt-4 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'config.list'|trans()|raw }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'undefined'}) }}"> {{ 'config.affiche_list_undefined'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'admin'}) }}"> {{ 'config.affiche_list_admin'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'head'}) }}"> {{ 'config.affiche_list_head'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'site'}) }}"> {{ 'config.affiche_list'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'content'}) }}"> {{ 'config.affiche_list_content'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'nav'}) }}"> {{ 'config.affiche_list_menu'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'footer'}) }}"> {{ 'config.affiche_list_footer'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': constant('App\\Entity\\Interfaces\\ContactInterface::CONTACT')}) }}"> {{ 'config.affiche_list_contact'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': constant('App\\Entity\\Interfaces\\ContactInterface::NEWSLETTER')}) }}"> {{ 'config.affiche_list_newsletter'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': constant('App\\Entity\\Interfaces\\ContactInterface::LIVREDOR')}) }}"> {{ 'config.affiche_list_livredor'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'folio'}) }}"> {{ 'config.affiche_list_folio'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'carousel'}) }}"> {{ 'config.affiche_list_carousel'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'modale'}) }}"> {{ 'config.affiche_list_modale'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'card'}) }}"> {{ 'config.affiche_list_card'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('config_index', {'type': 'network'}) }}"> {{ 'config.affiche_list_network'|trans()|raw }} </a></p>
                            </ul>
                        </li>
                        <li class="nav-item mt-4 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'global.uploads_and_locales'|trans()|raw }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <p><a class="link-light text-decoration-none mx-3" href="/elfinder" target="_blank"> {{ 'menu.upload_hermes_dir'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('sheet_locale_new') }}"> {{ 'global.add_locale'|trans()|raw }} </a></p>
                            </ul>
                        </li>
                        <li class="nav-item mt-4 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'global.newsletter_and_testimony'|trans()|raw }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <p> <a class="link-light text-decoration-none mx-3" href="{{ path('user_newsletter') }}"> {{ 'global.newsletter_users'|trans()|raw }} </a></p>
                                <hr class="dropdown-divider">             
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('section_newsletter') }}">{{ 'section.newsletter'|trans()|raw }}</a></p>
                                <hr class="dropdown-divider">   
                                <p><a class="link-light text-decoration-none mx-3" href="{{ path('temoignage_index') }}">{{ 'temoignage.affiche_list'|trans()|raw }}</a></p>
                            </ul>
                        </li>
                        <li class="nav-item mt-4 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'User'|trans()|raw }} {{ app.user.firstname ?? '' ~ ' ' ~  app.user.lastname ?? '' }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <p> <a class="link-light text-decoration-none mx-3 " href="{{ path('user_edit',  {'id': app.user.id} ) }}"><i class="fa fa-user"></i> {{ 'user.profil'|trans()}}  </a></p>
                                <hr class="dropdown-divider">   
                                <p> <a class="link-light text-decoration-none mx-3" href="{{ path('user_index') }}"> {{ 'global.users'|trans()|raw }} </a></p>
                            </ul>
                        </li>
                        <li class="nav-item mt-4 mt-2 ">
                            <p> <a class="page-scroll link-light text-decoration-none " href="{{ path('app_logout') }}"> {{ 'user.logout'|trans() }}  </a></p>                           
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endif %}
