<!-- Navigation -->
{#<nav class="navbar navbar-expand-lg navbar-dark ftco-navbar-light fixed-top navbar-shrink" id="mainNav">#}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="navbar-brand  " href="{{ path('admin_index') }}">{{ 'global.admin'|trans() }}</a>
        {% endif %}
        {% for locale in locales %}
            {% if locale == app.request.locale %}
                {% set flag = 'app_fixed_flag_selected' %}
            {% else %}
                {% set flag = 'app_fixed_flag' %}
            {% endif %}
            <a class="mr-2" href="{{ path('change_locale', {'locale': locale}) }}"><img
                        src="{{ asset('img/flag/'~ locale ~'.png')|imagine_filter(flag) }}"></a>
        {% endfor %}
        <div class="navbar-header ">
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button"
                    data-toggle="collapse" data-target="#navbarResponsive" aria-label="Toggle navigation"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <span class="mx-auto align-middle">
                <a class="lead text-white" href="{{ path('sheet') }}">
                    {{ 'global.back_front'|trans() }}
                </a>
            </span>
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="h-rounded-lg-09 nav navbar-nav ml-auto"
                    style="background-color: {{ config.nav_li_bgcolor.value ?? '#225577' }}">
                    <li class=" nav-item dropdown ">
                        <a id="{{ 'global.dashboard'|trans() }}"
                           class="nav-link  page-scroll dropdown-toggle " role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           href="#">
                            {{ 'global.dashboard'|trans()|raw }}
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="{{ 'global.dashboard'|trans()|raw }}"
                             aria-expanded="false">
                            <p><a class="text-info mx-3 "
                                  href="{{ path('sheet_index') }}"> {{ 'sheet.affiche_list'|trans()|raw }}</a></p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('menu_index') }}"> {{ 'menu.affiche_list'|trans()|raw }}</a></p>
                            <p><a class="text-info  mx-3"
                                  href="{{ path('section_index') }}"> {{ 'section.affiche_list'|trans()|raw }}</a></p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('post_index') }}"> {{ 'post.affiche_list'|trans()|raw }}</a></p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('product_index') }}"> {{ 'product.affiche_list'|trans()|raw }}</a></p>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <p><a class="text-info mx-3"
                                      href="{{ path('remote_index') }}"> {{ 'remote.affiche_list'|trans()|raw }}</a></p>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
{#                                {% if(config.value is defined) %}#}
{#                                    {% if(constant('App\\Entity\\Interfaces\\ContactInterface::LIVREDOR_TEXTE')  in config.value) %}#}
                                        <p>
                                            <a class="text-info mx-3" href="{{ path('temoignage_index') }}">
                                                {{ 'temoignage.affiche_list'|trans()|raw }}
                                            </a>
                                        </p>
{#                                    {% endif %}#}
{#                                {% endif %}#}
                            {% endif %}
                        </div>
                    </li>

                    <li class=" nav-item dropdown">
                        <a id="{{ 'config.label'|trans() }}"
                           class="nav-link  page-scroll dropdown-toggle " role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           href="#">
                            {{ 'config.list'|trans()|raw }}
                        </a>
                        <div class="dropdown-menu bg-dark " style="min-width: 17rem;"
                             aria-labelledby="{{ 'global.dashboard'|trans()|raw }}" aria-expanded="false">
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'undefined'}) }}"> {{ 'config.affiche_list_undefined'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'ecommerce'}) }}"> {{ 'config.affiche_list_ecommerce'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'site'}) }}"> {{ 'config.affiche_list'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'contact'}) }}"> {{ 'config.affiche_list_contact'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'nav'}) }}"> {{ 'config.affiche_list_menu'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'content'}) }}"> {{ 'config.affiche_list_content'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'folio'}) }}"> {{ 'config.affiche_list_folio'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'carousel'}) }}"> {{ 'config.affiche_list_carousel'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'modale'}) }}"> {{ 'config.affiche_list_modale'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'card'}) }}"> {{ 'config.affiche_list_card'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'network'}) }}"> {{ 'config.affiche_list_network'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'footer'}) }}"> {{ 'config.affiche_list_footer'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'form'}) }}"> {{ 'config.affiche_list_formulaire'|trans()|raw }}</a>
                            </p>
                        </div>
                    </li>
                    <li class=" nav-item dropdown">
                        <a id="{{ 'User'|trans() }}" class="nav-link  page-scroll dropdown-toggle "
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           href="#">
                            {{ app.user.firstname ?? '' ~ ' ' ~  app.user.lastname ?? '' }}
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="{{ 'User'|trans() }}" aria-expanded="false">
                            <a class="page-scroll nav-link "
                               href="{{ path('user_edit',  {'id': app.user.id} ) }}"><i class="fa fa-user"></i> {{ 'user.profil'|trans()}} </a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="text-info mx-3"
                                   href="{{ path('user_index') }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                                    </svg> {{ 'global.users'|trans()|raw }}
                                </a>
                            {% endif %}
                            <a class="page-scroll nav-link "
                               href="{{ path('order_index') }}"><i class="fa fa-first-order"></i> {{ 'order.all'|trans()}} </a>
                            <a class="page-scroll nav-link "
                               href="{{ path('address_index') }}"><i class="fa fa-address-book"></i> {{ 'address.list'|trans()}} </a>
                            <a class="page-scroll nav-link "
                               href="{{ path('app_logout') }}"> {{ 'user.logout'|trans() }} </a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div id="chevron_down_div">
        <h3 class="section-subheading text-right">
            <a id="chevron_down" class="js-scroll-trigger" href="#section_bottom">
                <i class="fa fa-chevron-circle-down"></i>
            </a>
        </h3>
    </div>
    <div id="chevron_up_div" style="display:none">
        <h3 class="section-subheading text-muted">
            <a id="chevron_up" class="js-scroll-trigger" href="#section_top">
                <i class="fa fa-chevron-circle-up"></i></a>
        </h3>
    </div>
</nav>