<!-- Navigation -->
{#<nav class="navbar navbar-expand-lg navbar-dark ftco-navbar-light fixed-top navbar-shrink" id="mainNav">#}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand  " href="{{ path('admin_index') }}">Admin
        </a>
        {% for locale in locales %}
            {% if locale == app.request.locale %}
                {% set flag = 'app_fixed_flag_selected' %}
            {% else %}
                {% set flag = 'app_fixed_flag' %}
            {% endif %}
            <a class="mr-2" href="{{ path('change_locale', {'locale': locale}) }}"><img
                        src="{{ asset('img/flag/'~ locale ~'.png')|imagine_filter(flag) }}"></a>
        {% endfor %}
        <div class="navbar-header ">
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button"
                    data-toggle="collapse" data-target="#navbarResponsive" aria-label="Toggle navigation"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="h-rounded-lg-09 nav navbar-nav ml-auto"
                    style="background-color: {{ config.nav_li_bgcolor.value ?? '#225577' }}">
                    <li class=" nav-item dropdown ">
                        <a id="{{ 'global.dashboard'|trans() }}"
                           class="nav-link  page-scroll dropdown-toggle " role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           href="#">
                            {{ 'global.dashboard'|trans()|raw }}
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="{{ 'global.dashboard'|trans()|raw }}"
                             aria-expanded="false">
{#                            {% if is_granted('ROLE_SUPER_ADMIN') %}#}
{#                                <p><a class="text-info mx-3 "#}
{#                                      href="{{ path('sheet_form_index') }}"> {{ 'sheet.list_form'|trans()|raw }}</a></p>#}
{#                            {% endif %}#}
                            <p><a class="text-info mx-3 "
                                  href="{{ path('sheet_index') }}"> {{ 'sheet.affiche_list'|trans()|raw }}</a></p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('menu_index') }}"> {{ 'menu.affiche_list'|trans()|raw }}</a></p>
                            <p><a class="text-info  mx-3"
                                  href="{{ path('section_index') }}"> {{ 'section.affiche_list'|trans()|raw }}</a></p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('post_index') }}"> {{ 'post.affiche_list'|trans()|raw }}</a></p>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {% if(config.value is defined) %}
                                    {% if(constant('App\\Entity\\Interfaces\\ContactInterface::LIVREDOR_TEXTE')  in config.value) %}
                                        <p><a class="text-info mx-3"
                                              href="{{ path('temoignage_index') }}"> {{ 'temoignage.affiche_list'|trans()|raw }}</a>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </li>

                    <li class=" nav-item dropdown">
                        <a id="{{ 'config.label'|trans() }}"
                           class="nav-link  page-scroll dropdown-toggle " role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           href="#">
                            {{ 'config.list'|trans()|raw }}
                        </a>
                        <div class="dropdown-menu bg-dark " style="min-width: 17rem;"
                             aria-labelledby="{{ 'global.dashboard'|trans()|raw }}" aria-expanded="false">
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'undefined'}) }}"> {{ 'config.affiche_list_undefined'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'site'}) }}"> {{ 'config.affiche_list'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'contact'}) }}"> {{ 'config.affiche_list_contact'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'nav'}) }}"> {{ 'config.affiche_list_menu'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'content'}) }}"> {{ 'config.affiche_list_content'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'carousel'}) }}"> {{ 'config.affiche_list_carousel'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'modale'}) }}"> {{ 'config.affiche_list_modale'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'card'}) }}"> {{ 'config.affiche_list_card'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'network'}) }}"> {{ 'config.affiche_list_network'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'footer'}) }}"> {{ 'config.affiche_list_footer'|trans()|raw }}</a>
                            </p>
                            <p><a class="text-info mx-3"
                                  href="{{ path('config_index', {'type': 'form'}) }}"> {{ 'config.affiche_list_formulaire'|trans()|raw }}</a>
                            </p>
                        </div>

                    <li class=" nav-item dropdown">
                        <a id="{{ 'User'|trans() }}" class="nav-link  page-scroll dropdown-toggle "
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           href="#">
                            {{ app.user.firstname ?? '' ~ ' ' ~  app.user.lastname ?? '' }}
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="{{ 'User'|trans() }}" aria-expanded="false">
                            <a class="page-scroll nav-link "
                               href="{{ path('user_edit',  {'id': app.user.id} ) }}"><i class="fa fa-user"></i> </a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="text-info mx-3"
                                      href="{{ path('user_index') }}"> {{ 'global.users'|trans()|raw }}</a>
                            {% endif %}
                            <a class="page-scroll nav-link "
                               href="{{ path('app_logout') }}"> {{ 'user.logout'|trans() }} </a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div id="chevron_down_div">
        <h3 class="section-subheading text-right">
            <a id="chevron_down" class="js-scroll-trigger" href="#section_bottom">
                <i class="fa fa-chevron-circle-down"></i>
            </a>
        </h3>
    </div>
    <div id="chevron_up_div" style="display:none">
        <h3 class="section-subheading text-muted">
            <a id="chevron_up" class="js-scroll-trigger" href="#section_top">
                <i class="fa fa-chevron-circle-up"></i></a>
        </h3>
    </div>
</nav>
