<div class="row col-12 mx-auto pb-2 pb-lg-5 mt-1 mt-lg-3 pt-1 pt-lg-3" id="folio">
    <div id="staggering" class="  px-2">
        <div class="col-md-4 col-sm-4 col-12">
            <!-- Modale2  -->
            <a  class="portfolio-link" data-bs-toggle="modal" data-bs-target="#exampleModal1" href="#portfolioModal12">
                                        <span class="staggering">
                                            <img class="stagge" src="{{ asset('/img/hermes/images/carre/img1.jpg') }}">
                                        </span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <!-- Modale2  -->
            <a  class="portfolio-link" data-bs-toggle="modal" data-bs-target="#exampleModal2" href="#portfolioModal15">
                                        <span class="staggering">
                                            <img class="stagge" src="{{ asset('/img/hermes/images/carre/img2.jpg') }}">
                                        </span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <!-- Modale2  -->
            <a  class="portfolio-link" data-bs-toggle="modal" data-bs-target="#exampleModal3" href="#portfolioModal16">
                                        <span class="staggering">
                                            <img class="stagge" src="{{ asset('/img/hermes/images/carre/img3.jpg') }}">
                                        </span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <!-- Modale2  -->
            <a  class="portfolio-link" data-bs-toggle="modal" data-bs-target="#exampleModal4" href="#portfolioModal17">
                                        <span class="staggering">
                                            <img class="stagge" src="{{ asset('/img/hermes/images/carre/img4.jpg') }}">
                                        </span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <!-- Modale2  -->
            <a  class="portfolio-link" data-bs-toggle="modal" data-bs-target="#exampleModal5" href="#portfolioModal18">
                                        <span class="staggering">
                                            <img class="stagge" src="{{ asset('/img/hermes/images/carre/img5.jpg') }}">
                                        </span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <!-- Modale2  -->
            <a  class="portfolio-link" data-bs-toggle="modal" data-bs-target="#exampleModal6" href="#portfolioModal19">
                                        <span class="staggering">
                                            <img class="stagge" src="{{ asset('/img/hermes/images/carre/img6.jpg') }}">
                                        </span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <!-- Modale2  -->
            <a  class="portfolio-link" data-bs-toggle="modal" data-bs-target="#exampleModal7" href="#portfolioModal20">
                                        <span class="staggering">
                                            <img class="stagge" src="{{ asset('/img/hermes/images/carre/img7.jpg') }}">
                                        </span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <!-- Modale2  -->
            <a  class="portfolio-link" data-bs-toggle="modal" data-bs-target="#exampleModal8" href="#portfolioModal21">
                                        <span class="staggering">
                                            <img class="stagge" src="{{ asset('/img/hermes/images/carre/img8.jpg') }}">
                                        </span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <!-- Modale2  -->
            <a  class="portfolio-link" data-bs-toggle="modal" data-bs-target="#exampleModal9" href="#portfolioModal22">
                                        <span class="staggering">
                                            <img class="stagge" src="{{ asset('/img/hermes/images/carre/img9.jpg') }}">
                                        </span>
            </a>
        </div>
    </div>
</div>


<!-- Modal -->

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal1" tabindex="-1">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

            <div class="modal-body"><img alt="" class="img-fluid mx-auto d-block col-12 col-lg-6" src="{{ asset('/img/hermes/images/carre/img1.jpg') }}" /></div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal2" tabindex="-1">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

            <div class="modal-body"><img alt="" class="img-fluid mx-auto d-block col-12 col-lg-6" src="{{ asset('/img/hermes/images/carre/img2.jpg') }}" /></div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal3" tabindex="-1">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

            <div class="modal-body"><img alt="" class="img-fluid mx-auto d-block col-12 col-lg-6" src="{{ asset('/img/hermes/images/carre/img3.jpg') }}" /></div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal4" tabindex="-1">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

            <div class="modal-body"><img alt="" class="img-fluid mx-auto d-block col-12 col-lg-6" src="{{ asset('/img/hermes/images/carre/img4.jpg') }}" /></div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal5" tabindex="-1">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

            <div class="modal-body"><img alt="" class="img-fluid mx-auto d-block col-12 col-lg-6" src="{{ asset('/img/hermes/images/carre/img5.jpg') }}" /></div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal6" tabindex="-1">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

            <div class="modal-body"><img alt="" class="img-fluid mx-auto d-block col-12 col-lg-6" src="{{ asset('/img/hermes/images/carre/img6.jpg') }}" /></div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal7" tabindex="-1">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

            <div class="modal-body"><img alt="" class="img-fluid mx-auto d-block col-12 col-lg-6" src="{{ asset('/img/hermes/images/carre/img7.jpg') }}" /></div>
        </div>
    </div>
</div>



<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal8" tabindex="-1">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

            <div class="modal-body"><img alt="" class="img-fluid mx-auto d-block col-12 col-lg-6" src="{{ asset('/img/hermes/images/carre/img8.jpg') }}" /></div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal9" tabindex="-1">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

            <div class="modal-body"><img alt="" class="img-fluid mx-auto d-block col-12 col-lg-6" src="{{ asset('/img/hermes/images/carre/img9.jpg') }}" /></div>
        </div>
    </div>
</div>
