{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'address.label'|trans() }}{% endblock %}

{% block nav %}
    <section id="section_top" class="container"></section>
    {% include '/admin/customer/nav.html.twig' %}
{% endblock nav %}

{% block content %}
    <a href="{{ path('admin_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    <h1 class="text-success">{{ 'address.label'|trans() }}</h1>

    {{ include('admin/address/country_form.html.twig') }}

    <a href="{{ path('admin_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    </div>
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('hermes_front') }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://vicopo.selfbuild.fr/api.js"></script>

<script type="text/javascript"> 
$(document).ready(function() {
   
    var $adressMethodSelect = $('.js-adress-form-method');
    var $addressTarget = $('.js-address-target');
    var $addressNew = $('.js-address-new');
   
    $adressMethodSelect.on('change', function(e) { 
        $.ajax({
            url: $adressMethodSelect.data('specific-adress-method-url'),
            type : 'POST',
            data: {
                adressMethod: $adressMethodSelect.val()
            },
            success: function (html) {
                if (!html) {
                    $addressTarget.find('select').remove();
                    $addressTarget.addClass('d-none');
                    return;
                }
                // Replace the current field and show
                $addressTarget
                    .html(html)
                    .removeClass('d-none');
                $("#adress-button").removeClass('d-none');

                // clear Form new address
                var $addressNew = $('.js-address-new');
                var $addressButtonNew = $('.js-address-button-new');

                $addressButtonNew.addClass('d-none');
                $addressNew.html('').removeClass('d-none');
                // add Form new address
              //  if('CLICK_AND_COLLECT' != $adressMethodSelect.val()){
                    $addressButtonNew.removeClass('d-none');
                    $addressNew.addClass('d-none');

                    $addressButtonNew.click( function(e) {
                        // e.preventDefault();
                        $.ajax({
                            url: $addressButtonNew.data('address-new-url'),
                            success: function (html) {
                                if (!html) {
                                    $addressNew.find('select').remove();
                                    $addressNew.addClass('d-none');
                                    return;
                                } 
                                // Replace the current field and show
                                $addressNew
                                    .html(html.find('form'))
                                    .removeClass('d-none');
                                $("#adress-button").addClass('d-none');
                            }
                        });
                    });
                   
                  if ($adressMethodSelect.val() == 'FR') {
                    $('#address_fr_locality').keypress(function (e) {
                        if(e.keyCode == 13) {
                            var $ville = $(this);
                            $.vicopo($ville.val(), function (input, cities) { console.log('ifvicopo');
                            if(input == $ville.val() && cities[0]) {
                                $ville.val(cities[0].city).vicopoTargets().vicopoClean();
                                $('#address_fr_postalCode').val(cities[0].code)
                            }
                            });
                            e.preventDefault();
                            e.stopPropagation();
                        }
                    });

                    $('#address_fr_postalCode').keypress(function (e) {
                        if(e.keyCode == 13) {
                            var $ville = $(this);
                            $.vicopo($ville.val(), function (input, cities) { console.log('ifvicopo');
                            if(input == $ville.val() && cities[0]) {
                                $ville.val(cities[0].code).vicopoTargets().vicopoClean();
                                $('#address_fr_locality').val(cities[0].city)
                            }
                            });
                            e.preventDefault();
                            e.stopPropagation();
                        }
                     });
                }

            }
        });
    });


});

</script>
{% endblock %}