{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'global.list'|trans() }}{% endblock %}

{% block nav %}
    <section id="section_top" class="container"></section>
    {% include '/admin/customer/nav.html.twig' %}
{% endblock nav %}

{% block content %}
    <h1>{{ 'address.label'|trans() }}</h1>

    <table class="table">
        <thead>
        <th>{{ 'global.active'|trans() }}</th>
        <th>{{ 'address.additionalName'|trans() }}</th>
        <th>{{ 'address.addresse1'|trans() }}</th>
        <th>{{ 'global.actions'|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {% for address in addresses  %}
                <tr>
                    <td>{{ address.active ? 'global.active'|trans()|raw : 'global.inactive'|trans()|raw }}</td>
                    <td>{{ address.additionalName }}</td>
                    <td>{{ address.addressLine1 }}</td>
                    <td>
                         <a href="{{ path('address_edit', {'id': address.id}) }}">{{ 'action.edit'|trans()|raw }}</a>
                    </td>
                </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'global.no_record'|trans()|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_CUSTOMER') %}
        <a  class="btn h-bg-success text-white" href="{{ path('address_new') }}">{{ 'global.new'|trans() }}</a>
    {% endif %}
{% endblock %}
