<!-- Section card -->
<section id="{{ section.name }}" class="section_content pb-0  px-0">
    {% if('previsualidation_sheet' == app.request.get('_route')) %}
        {% set posts = section.getPrevisualisationPosts %}
    {% else %}
        {% set posts = section.posts %}
    {% endif %}

    <div class="col-lg-{{ card_container_width|col_lg() }} col-12 mx-auto ml-0 mr-0 pl-0 pr-0">
        {% for post in posts|sort((a, b) => a.position <=> b.position) %}
            {% if loop.index is odd %}
                <div class="row col-lg-12 col-12 mx-auto ml-0 mr-0">
                {% if not loop.last  %}
                    {% set margin = 'ml-lg-auto mr-lg-4 mt-lg-3' %}
                {% else %}
                    {% set margin = 'ml-lg-auto mr-lg-auto pl-lg-3 ' %}
                {% endif %}
                {% set float_direction = 'float-left mr-lg-4 mr-3 mb-3' %}
            {% else %}
                {% set margin = 'mr-lg-auto ml-lg-4 mt-lg-3'  %}
                {% set float_direction = 'float-right ml-lg-4 ml-3 mb-3' %}
            {% endif %}

            <div class="col-lg-5 col-12 h-rounded-lg-04 pt-3 pl-lg-3 pr-lg-3 pb-2 pr-0 pl-0 {{ margin }} my-3 w-auto shadow-lg text-center" style="background-color: {{ card_bgcolor }};color: {{ card_color }};">
                <div class="text-left pb-3 col-12"  style="font-size: 0.875em;">
                    <p class="text-justify col-12 h-font-size-14">
                        {% if vich_uploader_asset(post, 'imageFile') is not null %}
                            <img class="h-w-50 h-rounded-lg-3 {{ float_direction }}" alt="" class="img-fluid img-thumbnail" src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_carre_300') }}" />
                        {% if section.template2.code is defined %}
                            {% if section.template2.code in ['modale1', 'modale3' ] %}
                            <!-- Modale1  -->
                            <a style="color:{{ content_link_color }}" onmouseover="this.style.color='{{ content_link_hover_color }}'" onmouseout="this.style.color='{{ content_link_color }}'"
                               class="d-block mb-4 h-100 thumbnail" href="#" data-image-id="" data-name="{{ post.name }}" data-content="{{ post.content }}"  data-bs-toggle="modal"
                               data-image ="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_filter_'~ section.templateImageFilter) }}"
                               data-bs-target="#image-gallery">
                                {{ post.content|striptags|u.truncate(600, '...')|raw }}
                            </a>
                        {% endif %}
                        {% if( 'modale2' ==  section.template2.code) %}
                            <!-- Modale2  -->
                            <a style="color:{{ content_link_color }}" onmouseover="this.style.color='{{ content_link_hover_color }}'" onmouseout="this.style.color='{{ content_link_color }}'"
                               class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{ post.id }}">
                                {{ post.content|striptags|u.truncate(550, '...')|raw }}
                            </a>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>
            {% if loop.index is  even %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
<!-- Modale -->
{% include 'front/base/hermes/template/modale.html.twig' %}