<!-- Contact Section -->
<section id="formulaire" class="mh-100 py-0  px-0 container-fluid col-lg-{{ container_width|col_lg() }} col-12 text-center"  style="background-color:{{ contact_bgcolor }} ; color:{{ contact_color }}; " >
    <div class="container col-lg-{{ content_container_width|col_lg() }}  mt-3"  >
        {% if 'one page' == nav_bar  %}
            <div class="col-lg-12 col-12 text-center mb-5">
                <p> <a style="color:{{ content_link_color }}" onmouseover="this.style.color='{{ content_link_hover_color }}'" onmouseout="this.style.color='{{ content_link_color }}'" class="js-scroll-trigger main-btn wow fadeInUp rounded-pill" data-wow-delay="0.8s" data-wow-duration="1.0s" href="{{ path('sheet') }}">Retour sur le site</a></p>
            </div>
        {% endif %}
        <div class="row mt-0 mb-5 mb-sm-0">
            <div class="col-lg-12 col-12 text-center">
                {% if contact_presentation is not null  %}
                    <h3 class="section-subheading ">{{ contact_presentation }}</h3>
                {% endif %}
                {% if contact_user is not null  %}
                    <h5 class="section-subheading ">{{ contact_user }}</h5>
                {% endif %}
                {% if contact is not null and true == contact_affiche %}
                    <h5 class="section-subheading"  >{{ 'formulaire.email'|trans() }} :  <a style="color:{{ content_link_color }}" onmouseover="this.style.color='{{ content_link_hover_color }}'" onmouseout="this.style.color='{{ content_link_color }}'" href="mailto:{{ contact }}">{{ contact }}</a></h5>
                {% endif %}
            </div>
        </div>
        <div class="row col-12 mx-auto px-0">
            <div class="col-lg-12 col-12 mx-auto px-0">
                {% include 'front/base/hermes/_flash_message.html.twig' %}
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                        <div class="col-12">
                            <div class="form-group-contact col-12 col-sm-6 mx-auto fst-italic">
                                {{ form_widget(form.subject) }}
                                    <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group-contact col-12 col-sm-6 mx-auto">
                                <h5 style="color: red">{{ form_errors(form.firstname) }}</h5>
                                {{ form_widget(form.firstname) }}
                                  <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group-contact col-12 col-sm-6 mx-auto">
                                <h5 style="color: red">{{ form_errors(form.lastname) }}</h5>
                                {{ form_widget(form.lastname) }}
                                  <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group-contact col-12 col-sm-6 mx-auto">
                                <h5 style="color: red">{{ form_errors(form.email) }}</h5>
                                {{ form_widget(form.email) }}
                                    <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group-contact col-12 col-sm-6 mx-auto">
                                <h5 style="color: red">{{ form_errors(form.telephone) }}</h5>
                                {{ form_widget(form.telephone) }}
                                  <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group-contact col-12 col-sm-6 mx-auto">
                                <h5 style="color: red">{{ form_errors(form.content) }}</h5>
                                {{ form_widget(form.content) }}
                                  <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 col-12 text-center mb-5">
                        <div id="success"></div>
                        <button name="" id="sendMessageButton" class="btn h-w-10 {{ contact_bgcolor_btn ?? 'btn-outline-danger'}} h-rounded-lg-4 btn-xl mt-5" type="submit">
                            {{ 'formulaire.send'|trans() }}
                        </button>
                    </div>
                </div>
                {{ form_widget(form.csrf_token) }}
                {{ form_end(form, {render_rest: false}) }}
            </div>
        </div>
    </div>
</section>




