<!-- Portfolio Grid -->
{#<section id="{{ section.name ~ section.template.name }}" class="portfolio bg-light page-section" >#}
<section id="portfolio" class="section_content" style="max-width: {{ content_container_width }}; background-color:{{ content_bgcolor }}">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center">
            </div>
        </div>
        <div id="folio" class="row">
            {% for post in  section.posts|sort((a, b) => a.position <=> b.position) %}
                <div class="col-md-{{ section.posts|list_length }} col-sm-{{ section.posts|list_length }} portfolio-item">
                    <a class="portfolio-link " data-toggle="modal" href="#portfolioModal{{ post.id }}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        {% if(vich_uploader_asset(post, 'imageFile') is not null) %}
                            <img class="img-fluid hermes_center" src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_folio_filter') }}"
                                 alt="{{ post.name }}">
                        {% endif %}
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.name }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Modale1 -->
{% include 'front/base/hermes/template/modale2.html.twig' %}



