<!-- Portfolio Grid -->
{#<section id="{{ section.name ~ section.template.name }}" class="portfolio bg-light page-section" >#}
{% set max_length = section.posts|max_post_length %}
<section id="portfolio" class="pb-0  mx-auto px-0" style="background-color:{{ section.templateBgColor ?? content_bgcolor }}">
    <div class="container-fluid col-12 col-lg-{{ (section.templateWidth ?? folio_container_width)|col_lg() }} mx-auto px-0" >
            <div id="folio"  class="row ">
                {% for post in  section.posts|sort((a, b) => a.position <=> b.position) %}
                    {% if(vich_uploader_asset(post, 'imageFile') is not null) %}
                        <div class="col-lg-{{  (section.templateWidth ?? folio_container_width)|col_lg(section) }} col-md-{{  (section.templateWidth ?? folio_container_width)|col_lg(section) }} col-12 text-center mb-4" >
                            <div class="col-lg-12 col-md-12 col-12 text-center">
                                {% if( post.url == '') %}
                                    <img alt="{{ post.filename }}" class="img-fluid img-thumbnail" src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_filter_'~ section.templateImageFilter) }}" />
                                {% else %}
                                    <div class="d-block mb-4 h-100 thumbnail youtube-container">
                                        <h4 class="text-left">{{ post.name }} {{ post|space_length(max_length)|raw }}</h4class>
                                        <div class="img-fluid img-thumbnail youtube-player" data-url="{{ post.url }}" data-id="{{ post.idUrl }}" data-thumbnail="{{ asset(vich_uploader_asset(post, 'imageFile'))}}"></div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>
</section>