<!-- Portfolio Grid -->

{% set maxlengthname = folio_container_width|col_nb_char() %}
{% set maxlengthcontent = 35 %}

<section id="portfolio" class="section_content px-0" style="background-color:{{ content_bgcolor }}">
    <div class="container-fluid col-12 col-lg-{{ (section.templateWidth ?? folio_container_width)|col_lg() }}" >
        {% if(section.remote is null) %}
            <div id="folio" class="row_gallery">
            {% for post in  section.posts|sort((a, b) => a.position <=> b.position) %}
                {% if(vich_uploader_asset(post, 'imageFile') is not null) %}
                    <div class="column">
                        <div class="content_gallery text-center">
                            {% if( 'modale1' ==  section.template2.code) %}
                                <!-- Modale1  -->
                                <a class="d-block mb-4 h-100 thumbnail" href="#" data-image-id="" data-name="{{ post.name }}" data-content="{{ post.content }}"  data-toggle="modal"
                                   data-image ="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_folio_modale_filter') }}"
                                   data-target="#image-gallery">
                                    <img alt="" class="img-fluid img-thumbnail" src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_carre_300') }}" />
                                </a>
                            {% endif %}
                            {% if( 'modale2' ==  section.template2.code) %}
                                 <!-- Modale2  -->
                                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ post.id }}">
{#                                    <img src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_carre_300')  }}" alt="" style="width:100%">#}
                                    <img alt="" class="img-fluid img-thumbnail" src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_carre_300') }}" />
                                </a>
                            {% endif %}
                            <h6 style="word-break: break-all;">
                                {{ post.name|striptags|u.truncate(maxlengthname, '...') }}
                            </h6>
                             <p style="word-break: break-all;" class="h-font-size-09">
                                 {{ post.content|striptags|u.truncate(maxlengthname, '...')|raw }}
                             </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if(section.remote is not null) %}
            <div id="folio" class="row_gallery">
            {% for image, image in  section.remote.images %}
                {% if image is not null %}
                    <div class="column">
                        <div class="content_gallery text-center ">
                            {% if( 'modale1' ==  section.template2.code) %}
                                <!-- Modale1  -->
                                <a class="d-block mb-4 h-100 thumbnail" href="#" data-image-id="" data-name="{{ post.name }}" data-content="{{ post.content }}"  data-toggle="modal"
                                   data-image ="{{ image }}"
                                   data-target="#image-gallery">
                                    <img alt="" class="img-fluid img-thumbnail" src="{{ image }}" />
                                </a>
                            {% endif %}
                            {% if( 'modale2' ==  section.template2.code) %}
                                 <!-- Modale2  -->
                                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ image }}">
                                    <img src="{{ image  }}" alt="{{ image }}" style="width:100%">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
<!-- Modale -->
{% include 'front/base/hermes/template/modale.html.twig' %}


