<!-- Portfolio Grid -->
{#<section id="{{ section.name ~ section.template.name }}" class="portfolio bg-light page-section" >#}
<section id="portfolio" class="section_content mx-auto px-0" style="background-color:{{ content_bgcolor }}">
    <div class="container-fluid col-12 col-lg-{{ (section.templateWidth ?? folio_container_width)|col_lg() }} mx-auto px-0" >
        {% if(section.remote is null) %}
        <div id="folio"  class="row ">
            {% for post in  section.posts|sort((a, b) => a.position <=> b.position) %}
                {% if(vich_uploader_asset(post, 'imageFile') is not null) %}
                    <div class="col-lg-{{ section.posts|list_length }} col-md-{{ section.posts|list_length }} col-12 text-center mb-4" >
                        <div class="col-lg-12 col-md-12 col-12 text-center">
                            {% if( section.template2 == '') %}
                                <img alt="{{ post.filename }}" class="img-fluid img-thumbnail" src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_filter_'~ section.templateImageFilter) }}" />
                            {% else %}
                                {% if section.template2.code in ['modale1', 'modale3' ] %}
                                    <!-- Modale1  -->
                                    <a class="d-block mb-4 h-100 thumbnail" href="#" data-image-id="" data-name="{{ post.name }}" data-content="{{ post.content }}" data-toggle="modal"
                                       data-image ="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_filter_'~ section.templateImageFilter) }}"
                                       data-target="#image-gallery">
                                        <img alt="{{ post.filename }}" class="img-fluid img-thumbnail" src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_filter_'~ section.templateImageFilter) }}" />
                                    </a>
                                {% endif %}
                                {% if( 'modale2' ==  section.template2.code) %}
                                    <!-- Modale2  -->
                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ post.id }}">
                                        <img alt="{{ post.filename }}" class="img-fluid img-thumbnail" src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_filter_'~ section.templateImageFilter) }}" />
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-lg-12">
                            {% if post.product is not null %}
                                <article>
                                    <p class="text-center">
                                        <button class="col-10 col-lg-11 py-1 btn h-btn-outline-success post-product h-text-success mx-auto" id="{{ post.product.id }}" data-quantity="1"  data-type="add">
                                            <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                            </svg>
                                        </button>
                                     </p>
                                </article>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if(section.remote is not null) %}
            <div id="folio"  class="row">
                {% for img, image in  section.remote.images %}
                    {% if(image is not null) %}
                        <div class="col-lg-{{ section.remote.images|list_length }} col-md-{{ section.remote.images|list_length }} col-12 text-center">
                            {% if( section.template2 == '') %}
                                <img alt="{{ img }}" class="img-fluid img-thumbnail" src="{{ image }}" />
                            {% else %}
                                {% if section.template2.code in ['modale1', 'modale3' ] %}
                                    <!-- Modale1  -->
                                        <a class="d-block mb-4 h-100 thumbnail" href="#" data-image-id="" data-name="{{ post.name ?? '' }}" data-content="{{ post.content ?? '' }}"  data-toggle="modal"
                                           data-image ="{{ image }}"
                                           data-target="#image-gallery">
                                            <img id="{{ loop.index }}" alt="{{ image }}" class="img-fluid img-thumbnail" src="{{ image}}"  />
                                        </a>
                                {% endif %}
                                {% if( 'modale2' ==  section.template2.code) %}
                                    <!-- Modale2  -->
                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ img }}">
                                        <img id="{{ loop.index }}" alt="{{ image }}" class="img-fluid img-thumbnail" src="{{ image}}"  />
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>

<!-- Modale -->
{% include 'front/base/hermes/template/modale.html.twig' %}