<!-- Portfolio Grid -->
{% set staggering_px = '' %}
{% if section.templateWidth < 50 %}
    {% set staggering_px = 'px-0' %}
{% endif %}
<section id="portfolio" class="section_content px-0" style="background-color:{{ content_bgcolor }}">
    <div class="container col-12 col-lg-{{ (section.templateWidth ?? folio_container_width)|col_lg() }}">
        <div class="row mx-auto" id="folio">
            {% if(section.remote is null) %}
                <div id="staggering" class="{{ staggering_px }}">
                    {% for post in  section.posts|sort((a, b) => a.position <=> b.position) %}
                        {% if(vich_uploader_asset(post, 'imageFile') is not null) %}
                            {% if( section.template2 == '') %}
                                <span class="staggering">
                                    <img class="stagge"   src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_carre_150') }}"/>
                                </span>
                            {% else %}
                                {% if( 'modale1' ==  section.template2.code) %}
                                    <!-- Modale1  -->
                                        <a class="thumbnail portfolio-link" href="#" data-image-id="" data-name="{{ post.name }}" data-content="{{ post.content }}"  data-toggle="modal"
                                           data-image ="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_folio_modale_filter') }}"
                                           data-target="#image-gallery">
                                        <span class="staggering">
                                            <img class="stagge"   src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_carre_150') }}"/>
                                        </span>
                                    </a>
                                {% endif %}
                                {% if( 'modale2' ==  section.template2.code) %}
                                    <!-- Modale2  -->
                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ post.id }}">
                                        <span class="staggering">
                                            <img class="stagge"   src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_carre_150') }}"/>
                                        </span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if(section.remote is not null) %}
                <div id="staggering">
                    {% for img, image in  section.remote.images %}
                        {% if image is not null %}
                            <!-- Modale2  -->
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ img }}">
                            <span class="staggering">
                                <img class="stagge h-h-20 h-w-20" src="{{ image }}" />
                            </span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- Modale -->
{% include 'front/base/hermes/template/modale.html.twig' %}


