<!-- Portfolio Grid -->
<section id="portfolio" class="pb-0  px-0" style="background-color:{{ section.templateBgColor ?? content_bgcolor }}">
    <div class="container-fluid col-12 col-lg-{{ (section.templateWidth ?? folio_container_width)|col_lg() }}">
        <div class="row pt-md-3 pt-1 pb-1 pb-md-3">
            {% for post in  section.posts|sort((a, b) => a.position <=> b.position) %}
                {% if(vich_uploader_asset(post, 'imageFile') is not null) %}
                    <div class="row mx-auto col-md-{{ section.templateNbCol|nb_col }} col-lg-{{ section.templateNbCol|nb_col }} col-12">
                          <h5>
                            {% if( 'modale1' ==  section.template2.code) %}
                                <!-- Modale1  -->
                                <a class="text-decoration-none" style="color:{{ content_link_color }}" onmouseover="this.style.color='{{ content_link_hover_color }}'" onmouseout="this.style.color='{{ content_link_color }}'" class="d-block mb-4 h-100 thumbnail" href="#" data-image-id="" data-name="{{ post.name }}" data-content="{{ post.content }}" data-bs-toggle="modal"
                                   data-image ="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_filter_'~ section.templateImageFilter) }}"
                                   data-bs-target="#image-gallery">
                                    <img class="img-fluid" src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_carre_300') }}"/>
                 
                                </a>
                            {% endif %}
                            {% if( 'modale2' ==  section.template2.code) %}
                                <!-- Modale2  -->
                                <a class="text-decoration-none" style="color:{{ content_link_color }}" onmouseover="this.style.color='{{ content_link_hover_color }}'" onmouseout="this.style.color='{{ content_link_color }}'" class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{ post.id }}">
                                         <img class="img-fluid" src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_carre_300') }}"/>
                                </a>
                            {% endif %}
                        </h5>
                        {# <p> <span class="px-2 px-md-5">{{ post.content|raw }}</span> </p> #}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- Modale -->
{% include 'front/base/hermes/template/modale2.html.twig' %}
