<!-- Portfolio Grid -->
{% set maxlength = 40 %}
{% set moinsmaxlength = -40 %}
<section id="portfolio" class="section_content px-0" style="background-color:{{ content_bgcolor }}">
    <div class="container-fluid col-12 col-lg-{{ folio_container_width|col_lg() }}" >
       <div id="folio" class="row_gallery">
            {% for post in  section.posts|sort((a, b) => a.position <=> b.position) %}
                {% if(vich_uploader_asset(post, 'imageFile') is not null) %}
                    <div class="column">
                        <div class="content_gallery">
                            <!-- Modale1  -->
{#                            <a class="d-block mb-4 h-100 thumbnail" href="#" data-image-id="" data-toggle="modal"#}
{#                               data-image ="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_folio_modale_filter') }}"#}
{#                               data-target="#image-gallery">#}
                             <!-- Modale2  -->
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ post.id }}">
                                <img src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_carre_300')  }}" alt="" style="width:100%">
                            </a>
                            <h4>{{ post.name }}</h4>
                            {% set ligne = post.content|length - maxlength %}
                            <p class="h-font-size-09">{{ post.content|striptags|u.truncate(maxlength, '...') }} </p>
                            {% if ligne < 0 %}
                                <br/>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- Modale -->
{#{% include 'front/base/hermes/template/modale1.html.twig' %}#}
{% include 'front/base/hermes/template/modale2.html.twig' %}


