<!-- Section Libre -->
<section id="{{ section.name }}" class="section_content px-0 col-lg-{{ container_width|col_lg() }} col-12"
         style="background-color:{{ content_bgcolor }}">
    {% if('previsualidation_sheet' == app.request.get('_route')) %}
        {% set posts = section.getPrevisualisationPosts %}
    {% else %}
        {% set posts = section.posts %}
    {% endif %}

    <div class="container col-lg-{{ content_container_width|col_lg() }} text-center mx-auto pb-5">
        {#        <button id="copy" class="btn btn-dark" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Cliquer pour passer du rendu au code du rendu à copier</button>#}
        <button id="copy" class="btn btn-dark" type="button"><i class="fa fa-copy"></i> Copier le code html</button>
{#        <div id="alert" class="mt-3 alert alert-success collapse">#}
{#            <a href="#" class="hidden close" data-dismiss="alert" aria-label="close">&times;</a>#}
{#            Le code html du template a bien été <strong>copié</strong>!.#}
{#        </div>#}
     </div>
      <div class="row">
        <div class="col-12">
            <div class="collapse multi-collapse show" id="multiCollapseExample1">
                {% for post in posts|sort((a, b) => a.position <=> b.position) %}
                    <div class="container col-lg-{{ content_container_width|col_lg() }}">
                        {{ post.content|raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                {% for post in posts|sort((a, b) => a.position <=> b.position) %}
                    <div id="tocopy"  class="container col-lg-{{ content_container_width|col_lg() }} bg-dark text-white pt-3 pb-3 pl-2 pr-2">
                        {{ post.content|nl2br }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>


