<!-- Contact Section -->
<section class="mh-100 pb-0  px-0 container-fluid col-lg-{{ container_width|col_lg() }} col-12 text-center"  style="background-color:{{ livredor_bgcolor }} ; color:{{ livredor_color }}; " >
    <div class="container col-lg-{{ content_container_width|col_lg() }}"  >
        {% for temoignage in livredor %}
            <div class="col-12 col-sm-6 mx-auto card my-2 bg-transparent ">
                <p class="mt-2 mt-sm-4 lead ">{{ temoignage.content|raw }}</p>
                <p class="mt-2 lead" >{{ temoignage.firstname }} {{ temoignage.lastname }} </p>
            </div>
        {% endfor %}
    </div>
</section>




