<!-- Modale -->
{% if(section.remote is  null) %}
    {% for post in  section.posts|sort((a, b) => a.position <=> b.position) %}
        <div class="portfolio-modal modal fade  px-lg-0" id="portfolioModal{{ post.id }}" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog mx-auto mw-100" >
                <div class="modal-content col-lg-{{ (section.template2Width ?? modale_container_width)|col_lg() }} col-12  mx-auto px-0" style="background-color: {{ modale_bgcolor }}; color: {{ modale_color }}">
                    <div class="col-12  mx-auto px-0 ">
                        <div class="row col-12  mx-auto px-0">
                            <div class="col-12  mx-auto px-0">
                                <div class="modal-body col-12col-12  mx-auto px-0">
                                    <!-- Project Details Go Here -->
                                    <h3 class="col-lg-12 text-center" >{{ post.name }}</h3>
                                    {% if post.product is not null %}
                                        <article>
                                            <p class="my-2">{{ post.product.code ~ ' - ' ~ post.product.summary  }}</p>
                                            <p class="my-2">{{  ((post.product.price)/100)|format_currency('EUR') }}</p>
                                            <p>
                                                <button class="btn col-lg-1 btn h-btn-outline-success post-product h-text-success" id="{{ post.product.id }}" quantity="1" >
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                                    </svg>
                                                    {{ 'cart.add'|trans()|raw }}
                                                </button>
{#                                                <input type="button" class="col-lg-1 btn h-btn-outline-success post-product h-text-success " id="{{ post.product.id }}" quantity="1" value="{{ 'cart.add'|trans()|raw }}" >#}
                                            </p>
                                        </article>
                                    {% else %}
                                        {% if(vich_uploader_asset(post, 'imageFile') is not null) %}
                                            <img class="img  col-12  mx-auto px-0 col-sm-12 col-lg-12"
                                                 src="{{ asset(vich_uploader_asset(post, 'imageFile'))| imagine_filter('app_fixed_folio_modale_filter') }}"
                                                 alt="{{ post.name }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {{ post.content|raw }}
                    </div>
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr"  style="background-color: {{ modale_color }}">
                            <div class="rl" style="background-color: {{ modale_color }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if(section.remote is not null) %}
    {% for img, image in  section.remote.images %}
        <div class="portfolio-modal modal fade" id="portfolioModal{{ img }}" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content col-lg-{{ modale_container_width|col_lg() }} col-12  mx-auto px-0" style="background-color: {{ modale_bgcolor }}; color: {{ modale_color }}">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr"  style="background-color: {{ modale_color }}">
                            <div class="rl" style="background-color: {{ modale_color }}"></div>
                        </div>
                    </div>
                    <div class="col-12  mx-auto px-0 ">
                        <div class="row col-12  mx-auto px-0">
                            <div class="col-12  mx-auto px-0">
                                <div class="modal-body col-12col-12  mx-auto px-0">
                                    <!-- Project Details Go Here -->
    {#                                <h3 class="col-lg-12 text-center" >{{ post.name }}</h3>#}
                                    {% if(image is not null) %}
                                        <img class="img  col-12  mx-auto px-0 col-sm-12 col-lg-12"
                                             src="{{ image }}"
                                             alt="{{ image }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
    {#                    {{ post.content|raw }}#}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
