<!-- Section search 1 -->
<section id="search_result" class="section_content px-0 col-lg-{{ container_width|col_lg()}} col-12" style="background-color:{{ content_bgcolor }}">

<div class="container col-lg-{{ content_container_width|col_lg() }}" >
        <h5 class="text-center col-12 col-lg-12 mx-auto px-0" style="color:{{ content_color }}" > {{ 'global.search_result'|trans() }} "{{ app.request.get('q') }}"</h5>
        <h5 class="text-center col-12 col-lg-12 mx-auto px-0" style="color:{{ content_color }}" > {{ 'global.search_result_nb'|trans() }} {{ posts|length}}  </h5>
</div>
</section>
{% for post in posts|sort((a, b) => a.position <=> b.position) %}
        <h5 class="mt-5 text-center col-12 col-lg-12 mx-auto px-0" style="color:{{ content_color }}" >
                {{ 'global.search_result_in'|trans() }}
        {% if post.section is defined %}
                <a href="{{ path('sheet', {'sheet': post.section.menu.sheet.slug , 'slug': post.section.menu.slug}) }}"> {{ post.section.menu.name }}</a></h5>
        {% endif %}
        {% if 'Temoignage' in post|get_class() %}
                <a href="{{ path(constant('App\\Entity\\Interfaces\\ContactInterface::LIVREDOR_ROUTE')) }}"> {{ constant('App\\Entity\\Interfaces\\ContactInterface::LIVREDOR_TEXTE') }}</a></h5>
        {% endif %}
         <section id="{{ post.name }}" class="section_content px-0 col-lg-{{ container_width|col_lg()}} col-12" style="background-color:{{ content_bgcolor }}">
                 <div class="container col-lg-{{ content_container_width|col_lg() }}" >
                    {{ post.content|raw }}
                </div>
        </section>
{% endfor %}


