{% form_theme form 'admin/form/theme_posts.html.twig' %}
{#{% import "admin/section/macro_form.html.twig" as forms %}#}
{{ form_start(form) }}
        {{ form_row(form.type) }}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ form_row(form.code) }}
    {% endif %}
    {{ form_row(form.summary) }}
    {% if form.transparent is defined  %}
        {{ form_row(form.transparent) }}
    {% endif %}
    {{ form_row(form.value) }}
    {% if form.imageFile is defined  %}
        {{ form_row(form.imageFile) }}
    {% endif %}
    <button class="btn">{{ button_label|default('global.update'|trans()) }}</button>
    {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
