{% extends '/admin/base.html.twig' %}

{% block title %} {{ 'global.edit'|trans()|raw }}{% endblock %}

{% block content %}
    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('config_index', {'type': config.type ?? 'undefined'}) }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    <h1 class="text-secondary">{{ 'config.label'|trans() }}</h1>

    {{ include('admin/config/_form.html.twig', {'button_label': 'global.update'|trans()}) }}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ include('admin/config/_delete_form.html.twig') }}
    {% endif %}

    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('config_index', {'type': config.type ?? 'undefined'}) }}">{{ 'global.back_to_list'|trans()|raw }}</a>

{% endblock %}