{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'blockpost.list'|trans() }}{% endblock %}

{% block content %}
    <h1 class="text-secondary">{{ 'blockpost.list'|trans() }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'global.active'|trans() }}</th>
            <th>{{ 'block.name'|trans() }}</th>
            <th>{{ 'global.name'|trans() }}</th>
            <th>{{ 'global.position'|trans() }}</th>
            <th>{{ 'global.actions'|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {% for blockpost in blockposts|sort((a, b) =>a.block.name <=> b.block.name) |sort((a, b) =>a.position <=> b.position) %}
            <tr>
                <td>
                    <div class="form-check form-switch form-switch-sm my-0">
                        <input type="checkbox" class="blockpost-active form-check-input" id="{{ blockpost.id }}"  {{ blockpost.isActive ? 'checked': '' }} >
                        <label class="custom-control-label" for="{{ blockpost.id }}"></label>
                    </div>
                </td>
                <td>{{ blockpost.block.name }}</td>
                <td>{{ blockpost.name }}</td>
                <td>{{ blockpost.position }}</td>
                <td>
                    <a class="hms-color1" href="{{ path('blockpost_edit', {'id': blockpost.id}) }}">{{ 'action.edit'|trans()|raw }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">{{ 'global.no_record'|trans()|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-outline-secondary hms-bg-color1 text-white" id="blockpost-add" href="{{ path('blockpost_new') }}">{{ 'global.new_content'|trans() }}</a>
{% endblock %}
