{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'global.new_blockpost'|trans() }}{% endblock %}

{% block content %}
    {{ parent() }}
    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('blockpost_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>

    {{ include('admin/blockpost/_form.html.twig') }}

    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('blockpost_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
{% endblock %}
