{% extends 'front/base/hermes/base.html.twig' %}

{% block content %}
{#    {% if 'true' == app_multi_users  %}#}
{#        {% if menu.user.sections is defined  %}#}
{#            {% set sections =  menu.user.sections %}#}
{#            {% set user =  menu.user %}#}
{#        {% endif %}#}
{#    {% endif %}#}

{#    {% if 'false' == app_multi_users  %}#}

{#    {% dump(locale) %}#}
{#    {% dump(menu.sheet.locale) %}#}


    {% if menu is null  %}
        {% set testlocale = 'OK'  %}
    {% else  %}
        {% if menu.sheet.locale == locale  %}
            {% set testlocale = 'OK'  %}
        {% else  %}
            {% set testlocale = 'KO'  %}
        {% endif  %}
    {% endif  %}

    {% if testlocale == 'OK'  %}

        {% if menu.sections is defined  %}
            {% set sections =  menu.sections %}
            {% set user =  null %}
        {% endif %}
{#    {% endif %}#}

    {% if sections is defined %}
        {% if sections|length > 0 %}
            {% for message in app.flashes('success') %}
                <div class="text-center alert alert-success">
                    <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="text-center alert alert-info">
                    <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="text-center alert alert-danger">
                    <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="text-center alert alert-warning">
                    <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
            <div id="top" class="hide" ></div>
            {% for section in sections|sort((a, b) => a.position <=> b.position)  %}
{#                {% if( 'libre' not in section.template.code) %}#}
{#                    {{ include('front/base/hermes/template/libre.html.twig') }}#}
{#                {% endif %}#}
                {# {% include 'front/base/hermes/template/'~ section.template.code ~ '.html.twig' with {'menu': menu } %} #}
                {% include 'front/base/hermes/template/'~ section.template.code ~ '.html.twig' with {'menu': menu } %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if( constant('App\\Entity\\Interfaces\\ContactInterface::LIVREDOR_ROUTE') == app.request.attributes.get('_route')) %}
        {% include 'front/base/hermes/template/temoignage.html.twig' with {'user': menu.user?? '', 'form': form } %}
    {% endif %}
    {% if livredor is defined %}
        <div  id="react-data-testimony"  data-testimonys='{{ livredor|json_encode|raw }}' ></div>
    {% endif %}
    {% if blocks is defined %}
        <div  id="react-data-block"  data-nbblock={{ blocks|length }} ></div>
        {% for key, block in blocks  %}
            <div  id="react-data-{{ loop.index }}"  data-{{ loop.index }}='{{ block|json_encode|raw }}' data-key-{{ loop.index }}='{{ key }}' ></div>
        {% endfor   %}
    {% endif %}


    {% endif %}
{% endblock content %}




