{% extends 'front/base/hermes/base.html.twig' %}

{% block content %}
    {% if menu is null  %}
        {% set testlocale = 'OK'  %}
    {% else  %}
        {% if menu.sheet.locale == locale  %}
            {% set testlocale = 'OK'  %}
        {% else  %}
            {% set testlocale = 'KO'  %}
        {% endif  %}
    {% endif  %}

    {% if testlocale == 'OK'  %}

        {% if menu.sections is defined  %}
            {% set sections =  menu.sections %}
            {% set user =  null %}
        {% endif %}

    {% if sections is defined %}
        {% if sections|length > 0 %}
            <div id="top" class="hide" ></div>
            {% for section in sections|sort((a, b) => a.position <=> b.position)  %}
                {% include 'front/base/hermes/template/'~ section.template.code ~ '.html.twig' with {'menu': menu } %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if( constant('App\\Entity\\Interfaces\\ContactInterface::LIVREDOR_ROUTE') == app.request.attributes.get('_route')) %}
        {% include 'front/base/hermes/template/temoignage.html.twig' with {'user': menu.user?? '', 'form': form } %}
    {% endif %}
    {% if livredor is defined %}
        <div  id="react-data-testimony"  data-testimonys='{{ livredor|json_encode|raw }}' ></div>
    {% endif %}
            <input type="hidden"  id="content_link_color"   value="{{content_link_color}}" >
            <input type="hidden"  id="content_link_hover_color"   value="{{content_link_hover_color}}" >
    {% if blocks is defined %}
        <div  id="react-data-block"  data-nbblock={{ blocks|length }} ></div>
        {% for key, block in blocks  %}
            <div  id="react-data-{{ loop.index }}"  data-{{ loop.index }}='{{ block|json_encode|raw }}' data-key-{{ loop.index }}='{{ key }}' ></div>
        {% endfor   %}
    {% endif %}


    {% endif %}
{% endblock content %}
