<!DOCTYPE html>

<title>Template</title>

{% block body %}
    <h1 class="text-secondary">Template</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ template.id }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ template.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ template.type }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ template.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ template.name }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ template.summary }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn h-btn-outline-success"  href="{{ path('template_index') }}">back to list</a>

    <a class="hms-color1" href="{{ path('template_edit', {'id': template.id}) }}">edit</a>

    {{ include('admin/template/_delete_form.html.twig') }}
{% endblock %}
