{% extends '/admin/base.html.twig' %}

{% block title %}Admin Log in{% endblock %}

{% block content %}
    <section id="container" class="align-content-center">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                {% endif %}
                <div>
                    <h1 class="h3 mb-3 font-weight-normal">{{ 'user.identification'|trans() }}</h1>
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           placeholder="{{ 'user.email'|trans() }}" required autofocus>
                    <br>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="{{ 'user.password'|trans() }}" required>
                    <br>
                    <br>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-lg btn-primary" type="submit">
                    {{ 'user.sign_in'|trans() }}
                </button>
        </form>
        <div>
            <a id="forgotten_password"
               href="{{ path('app_forgotten_password') }}">{{ 'user.forgot_password'|trans() }}</a>
        </div>
    </section>
{% endblock %}
