{% extends '/admin/base.html.twig' %}

{% block title %}Admin Log in{% endblock %}

{% block content %}
    <section id="container" class="align-content-center" style="font-family:'Bai Jamjuree', sans-serif;">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a class="hms-color1" href="{{ path('app_logout') }}">Logout</a>
                {% endif %}
                <div class="col-md-4 mx-auto mt-md-5 pt-md-5 text-center">
                    <h1 class="h3 mb-3 font-weight-normal h-text-success">{{ 'user.admin'|trans() }}</h1>
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="col-lg-4 mx-auto form-control h-border-success"
                           placeholder="{{ 'user.email'|trans() }}" required autofocus>
                    <br>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="col-lg-4 mx-auto  form-control h-border-success"
                           placeholder="{{ 'user.password'|trans() }}" required>
                    <br>
                    <br>
                    <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}" >
                    <button class="col-md-4 mx-auto btn h-btn-outline-success h-rounded-lg-4 btn-xl mt-3" type="submit">
                        {{ 'user.sign_in'|trans() }}
                    </button>

                    <div class="col-md-12 mx-auto mt-5">
                        <a class="h-text-success text-decoration-none " id="forgotten_password"
                           href="{{ path('app_forgotten_password') }}">{{ 'user.forgot_password'|trans() }}</a>
                    </div>
                </div>

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

{#                <button class="btn btn-lg btn-primary" type="submit">#}
        </form>
    </section>
{% endblock %}
