{% set currency = 'EUR' %}
{% if app.user %}
    {% set currency = app.user.currency %}
{% endif %}
<div id="checkout-table" class="col-lg-12 mx-auto  mt-5 text-center">
    <div class="col-xs-12 col-sm-12 mx-auto">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="col-xs-6 active">{{ 'order.product'|trans() }}</th>
                        <th class="col-xs-3 active text-center">{{ 'order.unit_price'|trans() }}</th>
                        <th class="col-xs-3 active text-center">{{ 'order.quantity'|trans() }}</th>
                        <th class="col-xs-3 active text-center">{{ 'order.price'|trans() }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for orderLine in products %}
                        <tr class="bg-white ">
                            <th class="col-xs-4 align-middle cart-product-name text-left"> <img class="mr-3" src="{{ asset(vich_uploader_asset(orderLine.product.post, 'imageFile'))|imagine_filter('app_thumb_paysage') }}" > {{ orderLine.product.name }} </th>
                            <td class="col-xs-3 align-middle">{{ ((orderLine.product.price)/100)|format_currency(currency) }}</td>
                            <td class="col-xs-3 align-middle mx-auto">
                                {{ orderLine.quantity }}
                            </td>
                            <td id="price-{{ orderLine.product.id }}" class="col-xs-3 align-middle">{{ ((orderLine.price)/100)|format_currency(currency) }}</td>
                         </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tfoot>
                    {% if order.delivery is defined %}
                        {% if order is defined %}
                            {% if order.delivery.price is defined %}
                                <tr class="font-weight-bold">
                                    <th class="col-xs-6 info ">{{ 'order.delivery_price'|trans() }}</th>
                                    <th class="col-xs-6 info">&nbsp;</th>
                                    <th class="col-xs-6 info">&nbsp;</th>
                                    <td class="col-xs-3 info ">{{ ((order.delivery.price)/100)|format_currency(currency) }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <tr class="font-weight-bold">
                        <th class="col-xs-6 info ">Total</th>
                        <th class="col-xs-6 info">&nbsp;</th>
                        <th class="col-xs-6 info">&nbsp;</th>
                        <td class="col-xs-3 info checkout-total">{{ ((total)/100)|format_currency(currency) }}</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
    {% if is_granted('ROLE_CUSTOMER') and not is_granted('ROLE_ADMIN') %}
        <div class="col-xs-12 col-sm-6 mx-auto">
            <form action="{{ path('stripe_checkout') }}" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-label="{{ 'paiement.stripe.checkout'|trans()  }}"
                        data-email="{{ app.user.email }}"
                        data-description="{{ 'paiement.stripe.label'|trans()  }}"
                        data-key="{{ APP_STRIPE_PK }}"
                        data-amount="{{ total }}"
                        data-name="{{app.request.getSchemeAndHttpHost()}}"
                        data-description="{{ 'paiement.stripe.checkout'|trans() }}"
                        data-image="{{ asset('/img/hermes.png') }}"
                        data-zip-code="true"
                        data-locale="auto">
                </script>
            </form>
        </div>
    {% endif %}
</div>

