{% if bg_image is defined %}
    {% if bg_image is not null %}
        {% if vich_uploader_asset(bg_image, 'imageFile') is not null %}
            {% set background_image = asset(vich_uploader_asset(bg_image, 'imageFile'))  %}
            {% set url =  background_image %}
        {% endif %}
    {% endif %}
{% endif %}

{% if menus['contact'] is defined %}
    {% if menus['contact'] is not null %}
        {% set background_image =  vich_uploader_asset(menus['contact'], 'imageFile')   %}
    {% endif %}
{% endif %}
{#    {% endif %}#}
{% if menu is defined %}
    {% if menu is not null %}
        {% if vich_uploader_asset(menu, 'imageFile') is not null %}
            {% set background_image = asset(vich_uploader_asset(menu, 'imageFile'))  %}
            {% set url ='"' ~  background_image ~ '"' %}
        {% endif %}
    {% endif %}
{% endif %}

{% if background_image is defined %}
    {% if background_image is null %}
        {% set background_image = vich_uploader_asset(bg_image, 'imageFile')   %}
    {% endif %}
{% endif %}

<!DOCTYPE html>
<html lang="fr">
    {% block head %}
        {% include 'front/base/'~ directory ~'/head.html.twig' %}
    {% endblock head %}
{#    <body style="background: url({{ url ?? '' }}) no-repeat center center ;background-size: cover; background-color: {{ bgcolor.value ?? 'white' }}">#}
    {% set bgstyle1 = "background-color: rgba(0, 0, 0, 0);background-position-x: 0%;background-position-y: 0%;background-repeat: repeat;background-attachment: scroll;
    background-size: auto; background-origin: padding-box;background-clip: border-box; background-color:" ~ bgcolor   %}
{#    {% set bgstyle2 = "no-repeat center center ;background-size: cover;" %}#}

    <body style="background: url({{ url ?? '' }}) ; {{ bgstyle1 }} ; color: {{ text_color ?? '#ff0000' }} ;font-family: {{ font_family }}">
        {% block body %}
            {% block nav %}
                {% if 'one_page_' not in template  %}
                {% include 'front/base/navbar/' ~ nav_bar ~'.html.twig' %}
                {% endif %}
            {% endblock nav %}
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
        {% endblock body %}
        {% block footer %}
            {% include 'front/base/footer.html.twig' %}
        {% endblock footer %}
        {% block javascript %}
            {% include 'front/base/'~ directory ~'/javascript.html.twig' %}
        {% endblock javascript %}
    </body>
</html>
