{% if bg_image is defined %}
    {% if bg_image is not null %}
        {% if vich_uploader_asset(bg_image, 'imageFile') is not null %}
            {% set background_image = asset(vich_uploader_asset(bg_image, 'imageFile'))  %}
            {% set url =  background_image %}
        {% endif %}
    {% endif %}
{% endif %}

{% if menus['contact'] is defined %}
    {% if menus['contact'] is not null %}
        {% set background_image =  vich_uploader_asset(menus['contact'], 'imageFile')   %}
    {% endif %}
{% endif %}
{#    {% endif %}#}
{% if menu is defined %}
    {% if menu is not null %}
        {% if vich_uploader_asset(menu, 'imageFile') is not null %}
            {% set background_image = asset(vich_uploader_asset(menu, 'imageFile'))  %}
            {% set url ='"' ~  background_image ~ '"' %}
        {% endif %}
    {% endif %}
{% endif %}

{% if background_image is defined %}
    {% if background_image is null %}
        {% set background_image = vich_uploader_asset(bg_image, 'imageFile')   %}
    {% endif %}
{% endif %}

<!DOCTYPE html>
<html lang="fr">
    {% block head %}
        {% include 'front/base/hermes/head.html.twig' %}
    {% endblock head %}
{#    <body style="background: url({{ url ?? '' }}) no-repeat center center ;background-size: cover; background-color: {{ bgcolor.value ?? 'white' }}">#}
    {% set bgstyle1 = "background-color: rgba(0, 0, 0, 0);background-position-x: 0%;background-position-y: 0%;background-repeat: repeat;background-attachment: scroll;
    background-size: auto; background-origin: padding-box;background-clip: border-box; background-color:" ~ bgcolor   %}
{#    {% set bgstyle2 = "no-repeat center center ;background-size: cover;" %}#}

    <body style="background: url({{ url ?? '' }}) ; {{ bgstyle1 }} ; color: {{ text_color ?? '#ff0000' }} ;font-family: {{ font_family }}">
        {% block body %}
            {% block nav %}
                {% if  (vich_uploader_asset(logo, 'imageFile')) %}
                    {% set asset_logo1 = asset(vich_uploader_asset(logo, 'imageFile')) %}
                {% endif %}
                {% if  (vich_uploader_asset(accueil, 'imageFile')) %}
                    {% set asset_logo2 = asset(vich_uploader_asset(accueil, 'imageFile')) %}
                {% endif %}
                <input type="hidden" id="hidden_logo1" value="{{ asset_logo1 ?? '' }}">
                <input type="hidden" id="hidden_logo2" value="{{ asset_logo2 ?? asset_logo1 ?? '' }}">
                {% if 'one page' != nav_bar  %}
                    {% include 'front/base/navbar/' ~ nav_bar ~'.html.twig' %}
                {% endif %}
            {% endblock nav %}
            {% set nb = 0 %}
            {% if  (vich_uploader_asset(logo, 'imageFile')) %}
                {% set nb = 2 %}
            {% endif %}
{#            <div class="content pt-lg-0 mt-lg-0 pt-{{ nb }} mt-{{ nb }}">#}
            <div class="content pt-lg-0 mt-lg-0 pt-0">
                {% block content %}
                {% endblock content %}
            </div>

        {% block footer %}
            {% if footer_affiche == 1 %}
                {% include 'front/base/footer.html.twig' %}
            {% endif %}
        {% endblock footer %}
        {% block javascript %}
            {% include 'front/base/hermes/javascript.html.twig' %}
        {% endblock javascript %}
        {% endblock body %}
    </body>
</html>
