{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'sheet.list'|trans() }}{% endblock %}

{% block content %}
    <h1>product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Active</th>
                <th>Code</th>
                <th>Name</th>
                <th>Summary</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.active ? 'Yes' : 'No' }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.summary }}</td>
                <td>{{ ((product.price)/100)|format_currency('EUR') }}</td>
                <td>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">{{ 'action.edit'|trans()|raw }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'global.no_record'|trans() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn h-bg-success text-white" href="{{ path('product_new') }}">{{ 'global.new'|trans() }}</a>
{% endblock %}
