{% if logo.filename is defined %}
    {% if logo.filename is not null %}
        {% if affiche_logo_top != true %}
            <a  class="d-sm-none d-block col-{{ nav_offset}} align-middle " href="{{ path('home') }}">
                <img style="margin-left:{{ logo.value }};max-height:100px" src="{{ asset(vich_uploader_asset(logo, 'imageFile'))}}"  alt="{{ logo.filename }}">
            </a>
            <a  class="d-none d-sm-block col-{{ nav_offset}} align-middle mb-5" href="{{ path('home') }}">
                <img style="margin-left:{{ logo.value }};" src="{{ asset(vich_uploader_asset(logo, 'imageFile'))}}"  alt="{{ logo.filename }}">
            </a>
        {% endif %}
    {% endif %}
{% endif %}
