{% set mt_btn = 'mt-5 pt-sm-4' %}
<div id="section_top" ></div>
<nav style="background-color: transparent;" id="mainNavLeft"  class="navbar fixed-top col-12 ">
    <div class="float-start">
    {% if logo.filename is defined %}
        {% if logo.filename is not null %}
            {% if affiche_logo_top != true %}
                <a  class="d-none d-sm-block col-{{ nav_offset}} align-middle " href="{{ path('home') }}">
                    <img style="margin-left:{{ logo.value }};" src="{{ asset(vich_uploader_asset(logo, 'imageFile'))}}"  alt="{{ logo.filename }}">
                </a>
                {% set mt_btn = 'mt-5 mt-sm-0' %}
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
    <div class="d_block d-sm-none position-absolute {{nav_offcanvas_position }}-0 {{ mt_btn }}">
        <button id="btnOffcanvasDarkNavbarSmall" type="button" class="navbar-toggle navbar-toggler collapsed float-end" style="background-color: transparent" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbarSmall">
            <span class="navbar-toggler-icon sr-only">Toggle navigation</span><i class="hms-color1 fa fa-2x fa-bars" style="color: {{ nav_header_color ?? 'transparent' }}"></i>
        </button>
    </div>
    <div class="d-none d-sm-block position-absolute {{nav_offcanvas_position }}-0 {{ mt_btn }}">
        <button  id="btnOffcanvasDarkNavbar" type="button" class="navbar-toggle navbar-toggler collapsed float-end" style="background-color: transparent" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
            <span class="navbar-toggler-icon sr-only">Toggle navigation</span><i class="hms-color1 fa fa-2x fa-bars" style="color: {{ nav_header_color ?? 'transparent' }}"></i>
        </button>
    </div>
    {% include 'front/base/navbar/left_nav.html.twig' %}
</nav>
{% include 'front/base/navbar/_chevrons.html.twig' %}
