
{# <nav style="height:{{ nav_height }}; background-color:{{ nav_bgcolor }}; font-family: {{ nav_font_family }}" class="mt-0 pt-0 mt-sm-5 pt-sm-5 shadow-sm navbar navbar-expand-lg navbar-dark col-12 mx-auto px-0 " id="mainNav" data-nav-bgcolor="{{ nav_bgcolor }}" data-nav-bgcolor-shrink="{{ nav_bgcolor_shrink }}">
    <div class="container-fluid border-0 " style="background-color: {{nav_bgcolor}};">
    <!-- menu liste  -->
    {% include 'front/base/navbar/left_nav_ul.html.twig' %}
        </div>
    </div>
    <div class="d-block d-sm-none navbar-header page-scroll left fixed-top ">
        <button  type="button" class="navbar-toggle navbar-toggler collapsed pull-right" style="background-color: transparent" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
            <span class="navbar-toggler-icon sr-only">Toggle navigation</span><i class="hms-color1 fa fa-2x fa-bars" style="color: {{ nav_header_color ?? 'transparent' }}"></i>
            <span class="fa-2x  close-icon py-1" style="color: {{ nav_header_color ?? 'transparent' }}">x</span>
        </button>
    </div>
    <!-- search bar 2 -->
    {% include 'front/base/navbar/search_bar.html.twig' %}
</nav> #}


<nav style="height:{{ nav_height }}; background-color:{{ nav_bgcolor }}; font-family: {{ nav_font_family }}" class="mt-0 pt-0 mt-sm-5 pt-sm-5 shadow-sm navbar navbar-expand-lg navbar-dark col-12 mx-auto px-0 " id="mainNav" data-nav-bgcolor="{{ nav_bgcolor }}" data-nav-bgcolor-shrink="{{ nav_bgcolor_shrink }}">
    <div class="container-fluid border-0 " style="background-color: {{nav_bgcolor}};">
    <!-- menu liste  -->
    {% include 'front/base/navbar/left_nav_ul.html.twig' %}
        </div>
    </div>
    <div class="d-block d-sm-none navbar-header page-scroll left fixed-top ">

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    </div>
    <!-- search bar 2 -->
    {% include 'front/base/navbar/search_bar.html.twig' %}
</nav>
