{% extends '/admin/base.html.twig' %}

{% block title %} {{ 'temoignage.edit'|trans() }}{% endblock %}

{% block content %}
    {{ parent() }}
    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('temoignage_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    {{ include('admin/temoignage/_form.html.twig', {'button_label': 'global.update'|trans()}) }}
    {{ include('admin/temoignage/_delete_form.html.twig') }}

    <a class="btn h-btn-outline-success mb-sm-3"  href="{{ path('temoignage_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>

{% endblock %}