{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'temoignage.show'|trans() }}{% endblock %}

{% block content %}
    <a href="{{ path('temoignage_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>
    <h1 class="text-secondary">{{ 'temoignage.show'|trans() }} {{ temoignage.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'global.active'|trans() }}</th>
                <td>{{ temoignage.active ? 'global.active'|trans()|raw : 'global.inactive'|trans()|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'global.position'|trans() }}</th>
                <td>{{ temoignage.position }}</td>
            </tr>
            <tr>
                <th>{{ 'global.name'|trans() }}</th>
                <td>{{ temoignage.name }}</td>
            </tr>
            <tr>
                <th>{{ 'global.content'|trans() }}</th>
                <td>{{ temoignage.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('temoignage_index') }}">{{ 'global.back_to_list'|trans()|raw }}</a>

    <a href="{{ path('temoignage_edit', {'id': temoignage.id }) }}">edit</a>

    {{ include('admin/temoignage/_delete_form.html.twig') }}
{% endblock %}
