{% extends "front/base/base_email.html.twig" %}

{% block title %}Email contact{% endblock %}

{% block content %}
<section >
    <div class="container">
        <div class="row bg-dark">
            <div class="col-sm-12">
                <h1 class="h-bg-success mb-5 mt-5">{{ 'order.label'|trans() }} {{ order.name }} du {{ order.updatedAt|date('d M Y') }}</h1>
                <div class=" mt-3 pt-3 mx-auto px-0 text-justify" >
                    <h5>{{ 'order.delivery_method'|trans() }} : {{ ('delivery.'~ order.delivery.deliveryMethod|lower)|trans() }}</h5>
                    <h5>
                        {{ 'order.delivery_address'|trans() }} ({{ order.delivery.address }}) :
                        {{ order.delivery.address.addressLine1 }}  {{ order.delivery.address.addressLine2 }}  {{ order.delivery.address.postalCode }}
                        {{ order.delivery.address.locality }} {{ order.delivery.address.countryCode }}
                    </h5>
                </div>
                <hr class="order">
                {% include 'front/base/ecommerce/order/table.html.twig' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
