{% extends "front/base/base_email.html.twig" %}

{% block content %}
    <spacer size="105"></spacer>
    <container>
        <row class="header">
            <columns>
                    <img src="{{ email.image('@images/logo_email.png') }}" class="logo" alt="Logo">
            </columns>
        </row>
        <row>
            <columns>
                <spacer size="35"></spacer>
                <h1>
                    <center>
                        {{ contact_form.subject }}
                    </center>
                </h1>
                <spacer size="10"></spacer>
            </columns>
        </row>
        {% if contact_form.subject != constant('App\\Entity\\Hermes\\Contact::NEWSLETTER') %}
        <spacer size="30"></spacer>
        <row>
            <columns>
                Nom
            </columns>
            <columns>
                    <strong>{{ contact_form.name }}</strong>.
            </columns>
        </row>
        <row>
            <columns>
                Téléphone
            </columns>
            <columns>
                    <strong>{{ contact_form.telephone }}</strong>.
            </columns>
        </row>
        <row>
            <columns>
                Message
            </columns>
            <columns>
                    <strong>{{ contact_form.message|nl2br }}</strong>.
            </columns>
        </row>
        {% endif %}
        <row>
            <columns>
                Email
            </columns>
            <columns>
                    <strong><a href="mailto:{{ contact_form.email }}">{{ contact_form.email }}</a></strong>
            </columns>
        </row>
    </container>
{% endblock %}

