{% form_theme form 'admin/form/theme_posts.html.twig' %}
{{ form_start(form) }}
    {% if form.sheet is not defined %}
    {% else %}
    {{ form_row(form.sheet) }}
    {% endif %}
{% if('menu_edit' == app.request.attributes.get('_route')) %}
    {{ form_row(form.active) }}
    {{ form_row(form.position) }}
{% endif %}
    {{ form_row(form.locale) }}
    {{ form_row(form.name) }}
    {{ form_row(form.referenceName) }}
{% if('menu_edit' == app.request.attributes.get('_route')) %}
    {{ form_row(form.imageFile) }}
    {% if vich_uploader_asset(form.vars.value, 'imageFile') is not null %}
        <img style="max-height: 100px;" src="{{ asset(vich_uploader_asset(form.vars.value, 'imageFile')) }}" /></td>
    {% endif %}
{% endif %}
{% if( app.request.attributes.get('_route') in ['menu_section_post_new_sheet']) %}
    {% for form_section in form.sections  %}
        {{ form_row(form_section.template) }}
        {{ form_row(form_section.templateWidth) }}
        {{ form_row(form_section.templateImageFilter) }}
        {{ form_row(form_section.templateNbCol) }}
        {{ form_row(form_section.template2Width) }}
        {% for form_posts in form_section  %}
            {% if( 'posts' == form_posts.vars.name) %}
                {% for form_post in form_posts %}
                    {% form_theme form_post.tags 'admin/form/theme_tags.html.twig' %}
                    {{ form_row(form_post.name) }}
                    {{ form_row(form_post.imageFile) }}
                    {{ form_row(form_post.url) }}
                    {{ form_row(form_post.content) }}
                {% endfor  %}
            {% endif  %}
        {% endfor  %}
    {% endfor  %}
{% endif %}
{% if( app.request.attributes.get('_route') in ['menu_section_post_new_sheet']) %}
    {{ form_row(form.saveAndAddPost) }}
{% endif %}
    {{ form_row(form.save) }}
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}