{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'menu.list'|trans() }}{% endblock %}

{% block content %}

    {% set global = {
        'active':'global.active'|trans(),
        'inactive':'global.inactive'|trans(),
        'locale':'global.locale'|trans(),
        'sheet':'global.sheet'|trans(),
        'position':'global.position'|trans(),
        'name':'global.name'|trans(),
        'image_fond':'global.image_fond'|trans(),
        'actions':'global.actions'|trans(),
        'add':'action.add'|trans(),
        }
    %}

    {% set norecord = {
        'norecord':'global.no_record'|trans()|raw ,
        }
    %}

    {% set buttons = {
        'addpost': path('menu_section_post_new_sheet', {'sheet': 'nouvelle'}) ,
        'addmenu': path('menu_new') ,
        'newcontent': 'global.new_content'|trans(),
        'newmenu': 'global.new_menu'|trans(),
        }
    %}

    <div class="row mb-2">
    <h1 class="text-secondary">{{ 'menu.list'|trans() }}</h1>
    <input id="vue_items_menu" type="hidden" value="{{ menus|json_encode }}" data-filtre="{{ sheets|json_encode }}"  data-global="{{ global|json_encode}}" data-norecord="{{ norecord|json_encode}}" data-buttons="{{ buttons|json_encode}}"  />
    <!-- Composant Vue ListSheet -->
    <div id="vue_admin_list_menu" ></div>
{% endblock %}
