{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'menu.show'|trans() }}{% endblock %}
{% block px %}
    <div class="content container-fluid mt-5 pt-5 mx-0 px-0 shadow-sm shadow-lg">
{% endblock %}
{% block content %}
    <h2 class="mt-5 text-dark text-center">Nos templates libres Hermes</h2>
    {% for key, section in sections %}
        {% set suivant = key + 2 %}
        {% set precedent = key ?? 0 %}
        <div id="{{ section.code }}" class="mt-5 pt-5 pb-1" ></div>
        <h4 class="mt-4 mb-0 py-3 text-center h-bg-success text-white fst-italic">
            {% if key > 0 %}
            <a class="mt-3 text-center text-white" href="{{ '#hms-'~ precedent }}"><i class="fa fa-angle-double-up"></i></a>
            {% endif %}
            Template "{{ section.summary }}"
            {% if not(loop.last) %}
            <a class="mt-3 text-center text-white" href="{{ '#hms-'~ suivant }}"><i class="fa fa-angle-double-down"></i></a>
            {% endif %}
        </h4>
        {% include 'admin/hermes/template-libre/'~ section.code ~ '/index.html.twig' %}
    {% endfor %}
{% endblock %}
